---
title: "Performance.gov Data (Beta)"
layout: navigation_PMA
agency_dir:
permalink: /data/

#twitter variables
summary: summary
description: KPIs measure the performance of cross-agency priority goals in effecting change across multiple agencies.

---
<script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
<script>
var chartDiv = document.getElementById("block-system-main");
function myFunction() {
  var svgtest = d3.select(chartDiv);

  if (!svgtest.empty()) {
  document.reload();
  }
  else {
    return;
}}

if(performance.navigation.type == 2){
  console.log( 'Page load due to a back button click. Reloading to refresh the Performance.gov report. ' );
  location.reload(true);
}

</script>


<section id="image-data" class="usa-section usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row" style="padding:0">
   <div class="usa-width-one-whole usa-media_block">
    <h1 style="color:#00bde3;padding-bottom:0px;">Performance.gov Data (Beta)</h1>
    <h2 style="color:#ffffff;padding-bottom:15px;margin-top:0px">Visualizing agency and performance data</h2>
      <!--<h2 style="color:#ffffff;margin-top:0; margin-bottom:20px;">Explore interactive agency data </h2>-->
   </div>
    <div class="usa-width-one-whole usa-media_block">
      <a class="usa-button" style="background-color:#b51d09;" href="#sba">SBA Loan Data</a> <!--Read the latest news here-->
      <a class="usa-button" style="background-color:#07648d;" href="#cap">CAP Goal Data</a> <!--Read the latest news here-->
      <a class="usa-button" style="background-color:#a9aeb1;" href="#gsa">GSA Performance Data</a> <!--Read the latest news here-->
      <a class="usa-button" style="background-color:#00bde3;" href="mailto:PgovSupport@GSA.gov">Give us Feedback</a> <!--Read the latest news here-->
    </div>
  </div>
</section>

<section class="usa-section usa-graphic_list" >
  <div class="usa-grid usa-graphic_list-row" style="padding:0">
   <div class="usa-width-one-whole usa-media_block" style="margin-bottom:15px;">

    <p> We are working to bring you more data with enhanced visualizations and interactive dashboards that allow you to view agency performance measures and key data sets in new and innovative ways. To start, we have visualizations for three data sets that depict SBA loans by location, five Cross-Agency Priority Goals, and GSA’s 28 performance indicators.</p>
    <!--<a class="usa-button usa-button-secondary " href="mailto:pgovsupport@gsa.gov">Submit Feedback</a> <!--Read the latest news here-->
  <p>  Our dashboards are interactive. Some of our larger datasets may take a few seconds to load. For optimal user experience, we recommend using a desktop or laptop computer with a good internet connection. You can also download the data by clicking into the visualizations and then selecting "Download" or by navigating to the original data sources found in the red buttons below the visualizations.</p>

   </div>
 </div>

  <!--  *********************************FOUR DASHBOARDS EMBEDDED *************************************************-->


  <section class="usa-section usa-graphic_list" >
    <div class="usa-grid usa-graphic_list-row" style="padding:0">

   <div class="usa-width-one-whole usa-media_block">
    <h2><a name="sba"></a> Small Business Administration (SBA) Loan Data</h2>
    <p style="margin-bottom:0px;">Explore over 10 years of SBA loan data geographically and overlaid with population and GDP data for context. Drill down to the individual loan level and filter by loan type and state. To learn more, view the <a href="https://www.sba.gov/sites/default/files/articles/Loan_Chart_HQ_February_2017_Version_B.pdf">overview of SBA Loan Guaranty Programs.</a></p>
    <h3>Nationwide SBA Loan Distributions</h3>
    <p> Click on a state to update the graph below the map. To reset the zoom in the visualization and see beyond the continental U.S., please click the home icon on the map.</p>
  </div>
  <div class="usa-width-one-whole usa-media_block" id="sba-desktop">
    <script>

    myFunction();
    </script>
       <iframe src="https://d2d.gsa.gov/tableau-report-for-embed/8474" id="no-frame-border" frameborder="0" style="height:1000px;width:1091px;" onload="myFunction()"></iframe>


       <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="https://www.usaspending.gov/#/download_center/award_data_archive">Loan Data &#10095;</a>

       <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;margin-right:20px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="https://www.census.gov/data/datasets/time-series/demo/popest/2010s-national-total.html">Census Data &#10095;</a></p>

       <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;margin-right:20px;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="https://www.bea.gov/data/gdp/gdp-state">GDP Data &#10095;</a>

    </div>

    <div class="usa-width-one-whole usa-media_block" id="sba-mobile">
         <iframe src="https://d2d.gsa.gov/tableau-report-for-embed/8474" id="no-frame-border" frameborder="0" style="height:1000px;width:100%" onload="myFunction()"></iframe>

         <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="https://www.usaspending.gov/#/download_center/award_data_archive">Loan Data &#10095;</a>

         <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;margin-right:20px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="https://www.census.gov/data/datasets/time-series/demo/popest/2010s-national-total.html">Census Data &#10095;</a></p>

         <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;margin-right:20px;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="https://www.bea.gov/data/gdp/gdp-state">GDP Data &#10095;</a>
      </div>

  <div class="usa-width-one-whole usa-media_block"  id="sba-desktop">
    <h3>Heat Map of Loan Distributions to the County Level</h3>
    <p>To reset the zoom in the visualization and apply selected filters, please click the home icon on the map.</p>
        <iframe src="https://d2d.gsa.gov/tableau-report-for-embed/8472" id="no-frame-border" frameborder="0" style="height:655px;width:1091px;"></iframe>

        <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="https://www.usaspending.gov/#/download_center/award_data_archive">Loan Data &#10095;</a>
  </div>


    <div class="usa-width-one-whole usa-media_block" id="sba-mobile">
      <h3>Heat Map of Loan Distributions to the County Level</h3>
      <p>To reset the zoom in the visualization and apply selected filters, please click the home icon on the map.</p>
          <iframe src="https://d2d.gsa.gov/tableau-report-for-embed/8472" id="no-frame-border" frameborder="0" style="height:740px;width:100%"></iframe>

          <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="###">Loan Data &#10095;</a>
    </div>


  </div>
</section>
  <section class="usa-section" style="background-color:#f1f1f1;">
    <div class="usa-grid usa-graphic_list-row" style="padding:0">

      <div class="usa-width-one-whole usa-media_block">
      <h2><a name="cap"></a>Cross-Agency Priority (CAP) Goal Key Performance Indicators</h2>
      <p style="margin-bottom:20px;">The <a href="{{site.baseurl}}/pma/">President’s Management Agenda</a> identifies Cross-Agency Priority Goals to target those areas where multiple agencies must collaborate to effect change and report progress in a manner the public can easily track. Below are some of the key indicators that are being used to measure how different goals are performing. Click “View More” to see all of the CAP Goal visualizations.</p>

       <div class="usa-width-one-third usa-media_block">
         {% include kpi--kpi-page.html title="Cybersecurity" %}
       </div>

       <div class="usa-width-one-third usa-media_block">
           {% include kpi--kpi-page.html title="Category Management" %}
       </div>

       <div class="usa-width-one-third usa-media_block">
           {% include kpi--kpi-page.html title="Federal Employee Viewpoint Survey" %}
       </div>

        <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="{{ site.baseurl }}/CAP/key_performance_indicators.html">View more &#10095;</a></p>
      </div>
    </div>
  </section>

  <section class="usa-section">

  <div class="usa-grid usa-graphic_list-row" style="padding:0">
  <div class="usa-width-one-whole usa-media_block" style="margin-bottom:15px;">
    <h2><a name="gsa"></a>General Services Administration (GSA) Performance Data</h2>
    <p style="margin-bottom:20px;">GSA has four strategic goals - Real Estate, Acquisition, Technology, and Shared Services - in its <a href="https://www.gsa.gov/cdnstatic/GSA%20FY%202018-2022%20Strategic%20Plan%20-%20FINAL.pdf">strategic plan</a>  and the agency tracks progress on 28 performance indicators across those goals. This data is published in the agency’s <a href="https://www.gsa.gov/cdnstatic/GSA%20FY%202020%20Annual%20Performance%20Plan%20and%20FY%202018%20Report_FINAL.pdf">annual performance plan and report</a>. Click “View More” to explore the suite of GSA’s performance measures and track their progress over time.</p>
  </div>
  </div>

  <!--GSA 4 KPIs desktop view-->
  <div class="usa-grid usa-graphic_list-row" style="padding:0" id="sba-desktop">
  <div class="usa-width-one-whole usa-media_block"  >
    <iframe id="chart" src="https://d2d.gsa.gov/tableau-report-for-embed/8470" style="height:850px;width:1091px;" frameborder="0"></iframe>
  </div>
    <p class="card-tag" style="float:right;margin-top:0px;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="{{ site.baseurl }}/GSA/gsa-data/">View more &#10095;</a>

    <p class="card-tag" style="float:right;margin-top:0px;margin-bottom:30px;margin-right:20px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="https://www.gsa.gov/cdnstatic/GSA%20FY%202020%20Annual%20Performance%20Plan%20and%20FY%202018%20Report_FINAL.pdf   ">Data Source &#10095;</a></p>
  </div>

<!--GSA 4 KPIs mobile view-->
  <div class="usa-grid usa-graphic_list-row" style="padding:0" id="sba-mobile">
    <div class="usa-width-one-whole usa-media_block" >
      <iframe id="chart" src="https://d2d.gsa.gov/tableau-report-for-embed/8489" style="height:1800px;width:100%" frameborder="0"></iframe>
    </div>

      <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="{{ site.baseurl }}/GSA/gsa-data/">View more &#10095;</a>

      <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;margin-right:20px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="https://www.gsa.gov/cdnstatic/GSA%20FY%202020%20Annual%20Performance%20Plan%20and%20FY%202018%20Report_FINAL.pdf   ">Data Source &#10095;</a></p>
  </div>

</section>
