---
title: "Beta Data Page"
layout: navigation_PMA
agency_dir:

#twitter variables
summary: summary
description: KPIs measure the performance of cross-agency priority goals in effecting change across multiple agencies.
---
<style>

  line {
    stroke: red;
  }

  path.Target {
    stroke: orange;
    fill: none;
    stroke-width: 3px;
  }

  path.Actual {
    stroke: blue;
    fill: nonse;
    stroke-width: 3px;
  }
  div.lable {
    opacity: 0;
  }
  g.circle {
    fill: none;
  }
  g.group0 path,
  g.group0 circle {
    stroke: red;
    fill: none;
  }

  g.hidden line,
  g.hidden path {
    display: none;
  }

  g.tick line {
    stroke: blue;
  }

  g.tick text {
    font-size: 14px;
    fill: black;
  }

#no-frame-border {
  width: 100%;
  height: 735px;
}

</style>

<section class="usa-section usa-section-dark usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row" style="padding:0">
   <div class="usa-width-one-half usa-media_block">
    <h1 style="color:#ffffff;"> Beta Data Page</h1>
   </div>
    <div class="usa-width-one-half usa-media_block">
        <!--<a href="{{ site.baseurl }}/CAP/overview/" style="text-decoration:none;color:#ffffff;float:right;font-size:2rem">
           <b> Cross-Agency Priority Goal Overview &#10095;</b></a>-->
    </div>
  </div>
</section>



<section class="usa-section usa-graphic_list" >
  <div class="usa-grid usa-graphic_list-row" style="padding:0">
   <div class="usa-width-one-whole usa-media_block">
    <p>Welcome to our Beta Data page! We're working to bring you more data and will add it here on a rolling basis. Let us know what you think!</p>
    <a class="usa-button usa-button-secondary " href="mailto:pgovsupport@gsa.gov">Submit Feedback</a> <!--Read the latest news here-->
    <p>Our dashboards are interactive. Click on them to drill down further and give them a few seconds to load in a new tab. You can also download the data.
    </p>
   </div>
 </div>
</section>

  <!--  *********************************FOUR DASHBOARDS EMBEDDED *************************************************-->
<section class="usa-section">
  <div class="usa-grid usa-graphic_list-row" style="padding:0">
  <div class="usa-width-one-whole usa-media_block">
    <h2 style="margin-bottom:40px;">General Services Administration (GSA) Performance Data</h2>
  </div>
  </div>

  <div class="usa-grid usa-graphic_list-row" style="padding:0">
  <div class="usa-width-one-whole usa-media_block">

   <div class="usa-width-one-third usa-media_block">
     <iframe src="https://staging.d2d.gsa.gov/tableau-report-for-embed/10277" id="no-frame-border" frameborder="0"></iframe>
   </div>

     <div class="usa-width-one-third usa-media_block">
       <iframe src="https://staging.d2d.gsa.gov/tableau-report-for-embed/10277" id="no-frame-border" frameborder="0"></iframe>
     </div>

     <div class="usa-width-one-third usa-media_block">
       <iframe src="https://staging.d2d.gsa.gov/tableau-report-for-embed/10277" id="no-frame-border" frameborder="0"></iframe>
     </div>

     <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="">View more &#10095;</a></p>

    </div>
  </div>
</section>

<!--  *********************************KPI SECTION *************************************************-->

<section class="usa-section" style="background-color:#f1f1f1;">
  <div class="usa-grid usa-graphic_list-row" style="padding:0">

    <div class="usa-width-one-whole usa-media_block">
    <h2 style="margin-bottom:40px;">Cross-Agency Priority Goal Performance Data</h2>

     <div class="usa-width-one-third usa-media_block">
       {% include kpi--kpi-page.html title="Cybersecurity" %}
     </div>

     <div class="usa-width-one-third usa-media_block">
         {% include kpi--kpi-page.html title="Category Management" %}
     </div>

     <div class="usa-width-one-third usa-media_block">
         {% include kpi--kpi-page.html title="Federal Employee Viewpoint Survey" %}
     </div>

      <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="{{ site.baseurl }}/CAP/key_performance_indicators.html">View more &#10095;</a></p>
    </div>
  </div>
</section>

<section class="usa-section">
  <div class="usa-grid usa-graphic_list-row">

    <div class="usa-width-one-whole usa-media_block">
    <h2 style="margin-bottom:40px;">Small Business Administration Data</h2>
    </div>

    <div class="usa-width-one-whole">
    <ul class="usa-accordion">
      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="a1">
          SBA Data Set 1
        </button>
        <div id="a1" class="usa-accordion-content">
      <script type='text/javascript' src='https://d2d.gsa.gov/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 1200px; height: 850px;'><object class='tableauViz' width='1200' height='850' style='display:none;'><param name='host_url' value='https%3A%2F%2Fd2d.gsa.gov%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='ExecutiveSummaryDashboard_FY19&#47;OverviewandDefinitions' /><param name='tabs' value='yes' /><param name='toolbar' value='yes' /><param name='customViews' value='n' /></object></div>
        </div>
      </li>

      <li>
        <button class="usa-accordion-button"
          aria-expanded="true"
          aria-controls="a2">
          SBA Data Set 2
        </button>
        <div id="a2" class="usa-accordion-content">
          <p>Insert data set here</p>
        </div>
      </li>
    </ul>
    </div>

    </div>
  </section>
<!--  *********************************ACCORDION EMBEDDED *************************************************-->
