---
title: "Home"
layout: navigation_index

---


<!--original layout-->
<!--<section class="usa-hero">
    <div class="usa-grid">
      <div class="usa-hero-callout usa-section-dark">
        <h2><span class="usa-hero-callout-alt"><center>Featured</center></span></h2><h3><span style="color:#ffffff;">President’s Management Agenda:</span> <em>Modernizing Government for the 21st Century</em></h3>
        <a class="usa-button usa-button-secondary" href="PMA/PMA.html">Learn More </a>
        <!--<h3><span style="color:#ffffff;">Delivering Government Solutions in the 21st Century:</span><em> Reform Plan and Reorganization Recommendations</em></h3>
        <a class="usa-button usa-button-secondary " href="GovReform/index.html">Learn More</a>
    </div>
  </section>-->

<!--  <section class="usa-grid usa-section">
    <div class="usa-width-one-third">
      <h2>Welcome to Performance.gov</h2>
    </div>
    <div class="usa-width-two-thirds">
      <p><font size="+1">Performance.gov is a window into Federal agencies’ efforts to deliver a smarter, leaner, and more effective government. The site informs the public of the progress underway to cut waste, streamline government, and improve performance. <a href="about/getstarted.html">Learn more to get started.</a></font></p>
      <!-- <p>Use the right side of the grid to explain the tagline a bit more. What are your goals? How do you do your work? Write in the present tense, and stay brief here. People who are interested can find details on internal pages.</p> -->
    <!--</div>
  </section>-->

<!--ONLY TEXT WITH 2/3 SPACING -->
<section class="usa-hero">
      <div class="usa-grid"  >
          <div class="usa-width-one-whole" >
            <h1 style="color:#ffffff;"> A window into Federal agencies’ efforts to deliver a smarter, leaner, and more effective government</h1>
            <a class="usa-button usa-button-secondary" style="border-radius:25px;" href="PMA/PMA.html">What is the President's plan for the country?</a>                      <a class="usa-button" style="border-radius:25px; " href="PMA/PMA.html">Quarterly updates</a>
            <a class="usa-button"  style="border-radius:25px; background-color:#5b616b;"  href="PMA/PMA.html">What is a Cross Agency Priority Goal?</a>
            <a class="usa-button"  style="border-radius:25px; background-color:#112e51;" href="PMA/PMA.html">What are Key Performance Indicators and what do the track?</a>
            <a class="usa-button"  style="border-radius:25px; background-color:#046b99;" href="PMA/PMA.html">How do Federal agencies work together?</a>

          </div>
  </div>
</section>

    <!--BANNER AND WHAT'S NEW TEXT ON RIGHT -->
<!--  <section class="usa-hero">
          <div class="usa-grid"  >
              <div class="usa-width-two-thirds" >
                <h1 style="color:#ffffff;"> A window into Federal agencies’ efforts to deliver a smarter, leaner, and more effective government</h1>
                <a class="usa-button usa-button-secondary" href="PMA/PMA.html">Learn More </a>
              </div>
           <div class="usa-width-one-third" >
                <h3 class="card-tag" style="text-align:right;position:relative; color:#ffffff;font-size:1em;"><b>What's New?</b></h3>

                 <h4 style="text-align:right;"><a style="color:#ffffff;text-decoration:;" href="PMA/PMA.html">Check out the President's Mangement Agenda: Delivering Solutions in the 21st Century &#10095;</a></h3>

                <h4 style="text-align:right;"><a style="color:#ffffff;text-decoration:;" href="GovReform/index.html">Read the Reform Plan and Reorganization Recommendations&#10095;</a></h3>
            </div>

        </div>
    </div>
  </section>-->

        <!--BANNER AND CALLOUT BOX -->
          <!--  <section class="usa-hero">
              <div class="usa-grid"  >
                  <div class="usa-width-two-thirds" >
                    <h1 style="color:#ffffff;"> A window into Federal agencies’ efforts to deliver a smarter, leaner, and more effective government</h1>
                    <a class="usa-button usa-button-secondary" href="PMA/PMA.html">Learn More <!--Read the latest news here/a>
                  </div>

                    <div class="usa-hero-callout-gradient usa-section-dark usa-width-one-third usa-width-tablet"              >
                      <h2><span class="usa-hero-callout-alt">What's New</span></h2><h3><span style="color:#ffffff;">President’s Management Agenda:</span> <em>Modernizing Government for the 21st Century</em></h3>
                      <a class="usa-button usa-button-secondary" href="PMA/PMA.html">Learn More Read the latest news here</a>
        </div>
        </div>
            </section>-->
    <!--<section class="usa-grid usa-section"
    style="margin-top:1em;margin-bottom:1em;">
        <h2>Welcome to Performance.gov</h2>
      </div>
      <div class="usa-width-two-thirds">

        <p><font size="+1">Performance.gov is a window into Federal agencies’ efforts to deliver a smarter, leaner, and more effective government. The site informs the public of the progress underway to cut waste, streamline government, and improve performance. <a href="about/getstarted.html">Learn more to get started.</a></font></p>
        <!-- <p>Use the right side of the grid to explain the tagline a bit more. What are your goals? How do you do your work? Write in the present tense, and stay brief here. People who are interested can find details on internal pages.</p>
      </div>
    </section>-->
    <section
    class="usa-section usa-graphic_list"
    style="padding-bottom:0;background-color:#f1f1f1;"
    >
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole">
            <h2>The Latest from Performance.gov</h2><br>
        </div>
      </div>
    </section>
    <section
    class="usa-section  usa-graphic_list"
    style="padding-top:10px;background-color:#f1f1f1;"
    >
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-flex usa-flex-wrap">
          <div class="usa-width-one-third usa-media_block">
          <!--  <div id="border">-->
            <a
            class="twitter-timeline"
            data-width="100%"
            data-height="42rem"
            data-theme="light"
            data-link-color="#0071bc"
            data-border-color="#0071bc" href="https://twitter.com/PerformanceGov" >Tweets by @PerformanceGov</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
        <!--  </div>-->
          </div>
          {% for project in site.posts limit:2 %}
            <div class="usa-width-one-third usa-width-tablet">
              {% include card-homepage.html
               image_src=project.image
               image_alt=project.image_accessibility
               image_icon=project.image_icon
               agency=project.agency
               tagline=project.title
               date=project.date
               description=project.excerpt
               link=project.permalink
               tags=project.tags
              %}
            </div>
          {% endfor %}
        </div>
        <p class="card-tag" style="float:right;margin-top:30px;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="{{ site.baseurl }}/news">Read more &#10095;</a></p>
    </section>
    <section class="usa-section usa-section-dark usa-graphic_list">
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-half usa-media_block">
          <a href="PMA/"><img class="usa-media_block-img" src="img/homepage_images/436043_original.png" alt="Alt text"></a>
          <div class="usa-media_block-body">
              <a href="PMA/" style="text-decoration: none"><h3>The President's Management Agenda</h3></a>
            <p>The President's Management Agenda establishes and defines the Administration's key management priorities and initiatives, setting forth a long-term vision for an effective Government that works on behalf of the American people.</p>
          </div>
        </div>
        <div class="usa-width-one-half usa-media_block">
          <a href="about/framework_about.html"><img class="usa-media_block-img" src="img/homepage_images/target_icon.png" alt="Alt text"></a>
          <div class="usa-media_block-body">
  <a href="about/framework_about.html" style="text-decoration: none"> <h3>Learn about the Performance Framework</h3></a>
            <p>Performance management in the public sector is an ongoing, systematic approach to improving results through evidence-based decision making, continuous organizational learning, and a focus on accountability for performance.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="usa-section">
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole usa-media_block">
          <h2>Measuring Performance</h2>
            <p>The Federal government sets both Priority Goals – cross-agency and within agencies – that are near-term, implementation focused priorities of leadership as well as strategic objectives that are comprehensive of agencies’ missions. View these current goals and description of each below.<p>
            </div>
          </div>
        <div class="usa-grid usa-graphic_list-row">
          <div class="usa-width-one-third usa-media_block homepage-pf">
        <h3 class="banner-title"> Cross Agency Priority Goals</h3>
        <div class="homepage-banner">
            <p>Cross-Agency Priority (CAP) Goals are a tool used by leadership to accelerate progress on a limited number of Presidential priority areas where implementation requires active collaboration among multiple agencies.</p>
          </div>
<div class="homepage-pf-learnmore">
            <p class="card-tag" style="margin-top:0;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;"  href="{{ site.baseurl }}/about/CAP_about.html">Learn More &#10095;</a></p>
          </div>
    </div>
            <!--<p class="homepage-card-tag" style="margin-top:0;font-size:.8em;"><a style="text-decoration:none;" href="{{ site.baseurl }}/about/CAP_about.html">Learn More About CAP Goals &#10095;</a></p>-->
            <div class="usa-width-one-third usa-media_block homepage-pf">
              <h3 class="banner-title">Strategic Objectives</h3>
              <div class="homepage-banner">
              <p>Updated and revised every four years, Strategic Objectives reflect the outcome or management impacts the agency is trying to achieve over the term of an Administration. </p>
            </div>
              <div class="homepage-pf-learnmore">
              <p class="card-tag" style="margin-top:0;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;" href="{{ site.baseurl }}/about/objectives_about.html">Learn More &#10095;</a></p>
              </div>
            </div>


      <div class="usa-width-one-third usa-media_block homepage-pf">
        <h3 class="banner-title">Agency Priority Goals</h3>
        <div class="homepage-banner">
        <p>Agency Priority Goals (APGs) are a performance accountability structure that provide agencies a mechanism to focus leadership priorities, set outcomes, and measure results, bringing focus to mission areas where agencies need to drive significant progress and change.</p>
      </div>
        <div class="homepage-pf-learnmore">
        <p class="card-tag" style="margin-top:0;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#e31c3d;color:#ffffff;padding:10px;border-radius:25px;"  href="{{ site.baseurl }}/about/APG_about.html">Learn More &#10095;</a></p>
      </div>
    </div>


            </div>
      </div>
    </section>
