---
title: "Home"
layout: navigation_index

---


    <section class="usa-hero">
      <div class="usa-grid">
        <div class="usa-hero-callout usa-section-dark">
          <h2><span class="usa-hero-callout-alt"><center>Featured</center></span></h2><h3><span style="color:#ffffff;">President’s Management Agenda:</span> <em>Modernizing Government for the 21st Century</em></h3>
          <a class="usa-button usa-button-secondary" href="PMA/PMA.html">Learn More <!--Read the latest news here--></a>
          <h3><span style="color:#ffffff;">Delivering Government Solutions in the 21st Century:</span><em> Reform Plan and Reorganization Recommendations</em></h3>
          <a class="usa-button usa-button-secondary " href="GovReform/index.html">Learn More <!--Read the latest news here--></a>
        </div>
      </div>
    </section>
    <section class="usa-grid usa-section">
      <div class="usa-width-one-third">
        <h2>Welcome to Performance.gov</h2>
      </div>
      <div class="usa-width-two-thirds">
        <p><font size="+1">Performance.gov is a window into Federal agencies’ efforts to deliver a smarter, leaner, and more effective government. The site informs the public of the progress underway to cut waste, streamline government, and improve performance. <a href="about/getstarted.html">Learn more to get started.</a></font></p>
        <!-- <p>Use the right side of the grid to explain the tagline a bit more. What are your goals? How do you do your work? Write in the present tense, and stay brief here. People who are interested can find details on internal pages.</p> -->
      </div>
    </section>
    <section class="usa-section usa-section-dark usa-graphic_list" style="padding-bottom:0;">
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole">
            <h2>Recent News</h2>
        </div>
      </div>
    </section>
    <section class="usa-section usa-section-dark usa-graphic_list" style="padding-top:10px;">
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-flex usa-flex-wrap">
          <div class="usa-width-one-third usa-media_block">
          <!--  <div id="border">-->
            <a class="twitter-timeline" data-width="100%" data-height="39rem" data-theme="light" data-link-color="#0071bc" data-border-color="#0071bc" href="https://twitter.com/PerformanceGov" >Tweets by @PerformanceGov</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
        <!--  </div>-->
          </div>
          {% for project in site.posts limit:2 %}
            <div class="usa-width-one-third usa-width-tablet">
              {% include card-homepage.html
               image_src=project.image
               image_alt=project.image_accessibility
               image_icon=project.image_icon
               agency=project.agency
               tagline=project.title
               date=project.date
               description=project.excerpt
               link=project.permalink
               tags=project.tags
              %}
            </div>
          {% endfor %}
        </div>
        <p class="card-tag" style="float:right;margin-top:0;"><a style="text-decoration:none;" href="/news">Read more &#10095;</a></p>
    </section>

    <section class="usa-section usa-graphic_list">
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-half usa-media_block">
          <a href="PMA/"><img class="usa-media_block-img" src="img/homepage_images/436043_original.png" alt="Alt text"></a>
          <div class="usa-media_block-body">
              <a href="PMA/" style="text-decoration: none"><h3>The President's Management Agenda</h3></a>
            <p>The President's Management Agenda establishes and defines the Administration's key management priorities and initiatives, setting forth a long-term vision for an effective Government that works on behalf of the American people.</p>
          </div>
        </div>
        <div class="usa-width-one-half usa-media_block">
          <a href="about/framework_about.html"><img class="usa-media_block-img" src="img/homepage_images/target_icon.png" alt="Alt text"></a>
          <div class="usa-media_block-body">
  <a href="about/framework_about.html" style="text-decoration: none"> <h3>Learn about the Performance Framework</h3></a>
            <p>Performance management in the public sector is an ongoing, systematic approach to improving results through evidence-based decision making, continuous organizational learning, and a focus on accountability for performance.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="usa-section usa-section-CAP-noborder">
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole usa-media_block">
            <p>The Federal government sets both Priority Goals – cross-agency and within agencies – that are near-term, implementation focused priorities of leadership as well as strategic objectives that are comprehensive of agencies’ missions. View these current goals and description of each below.<p>
            </div>
          </div>
        <div class="usa-grid usa-graphic_list-row">
          <div class="usa-width-one-third usa-media_block">
           <h2> Cross Agency Priority Goals</h2>
            <p>Cross-Agency Priority (CAP) Goals are a tool used by leadership to accelerate progress on a limited number of Presidential priority areas where implementation requires active collaboration among multiple agencies.</p>

            <ul class="usa-accordion">
            <li>
                <button class="usa-accordion-button"
                  style="background-color:#0071bc;color:#ffffff;"
                  aria-expanded="hidden"
                  aria-controls="a1">

              <font size="+0">View CAP Goals </font>
                </button>
          </div>


          <div id="a1" class="usa-accordion-content usa-width-one-whole">

          {% include homepage-agency-accordion.html %}

        </div>
      <div class="usa-width-one-third usa-media_block">
        <h2>Agency Priority Goals</h2>
        <p>Agency Priority Goals (APGs) are a performance accountability structure of the GPRA Modernization Act that provides agencies a mechanism to focus leadership priorities, set outcomes, and measure results, bringing focus to mission areas where agencies need to drive significant progress and change.</p>

        <ul class="usa-accordion">
        <li>
            <button class="usa-accordion-button"
              style="background-color:#0071bc;color:#ffffff;"
              aria-expanded="hidden"
              aria-controls="a2">

          <font size="+0">View APGs by Agency </font>
            </button>
      </div>


          <div id="a2" class="usa-accordion-content usa-width-one-whole">

          {% include homepage-agency-accordion.html %}

        </div>
      <div class="usa-width-one-third usa-media_block">
        <h2>Strategic Objectives</h2>
        <p>Updated and revised every four years, Strategic Objectives reflect the outcome or management impacts the agency is trying to achieve over the term of an Administration. </p>

          <ul class="usa-accordion">
          <li>
            <button class="usa-accordion-button"
              style="background-color:#0071bc;color:#ffffff;"
              aria-expanded="hidden"
              aria-controls="a3">

          <font size="+0">  View SOs by Agency </font>
        </button>
        </div>

            <div id="a3" class="usa-accordion-content usa-width-one-whole">

              {% include homepage-agency-accordion.html %}

            </div>
      </div>
    </section>
