
<div id="myDropdown" class="dropdown-content">
  <ul class="usa-megamenu-col" style="padding-left:5px;margin:0;">
<ul>
  <li id="agency" data-filter = ".usda">Department of Agriculture</li>
  <li id="agency" data-filter = ".doc">Department of Commerce</li>
  <li id="agency" data-filter = ".dod">Department of Defense</li>
  <li id="agency" data-filter = ".ed">Department of Education</li>
  <li id="agency" data-filter = ".doe">Department of Energy</li>
  <li id="agency" data-filter = ".hhs">Department of Health and Human Services</li>
  <li id="agency" data-filter = ".dhs">Department of Homeland Security</li>
</ul>
</ul>
<ul class="usa-megamenu-col" style="padding-left:5px;margin:0;">
  <ul>
  <li id="agency" data-filter = ".hud">Department of Housing and Urban Development</li>
  <li id="agency" data-filter = ".doi">Department of the Interior</li>
  <li id="agency" data-filter = ".doj">Department of Justice</li>
  <li id="agency" data-filter = ".dol">Department of Labor</li>
  <li id="agency" data-filter = ".state">Department of State</li>
  <li id="agency" data-filter = ".dot">Department of Transportation</li>
</ul>
</ul>
<ul class="usa-megamenu-col" style="padding-left:5px;margin:0;">
<ul>

  <li id="agency" data-filter = ".treasury">Department of the Treasury</li>
  <li id="agency" data-filter = ".va">Department of Veteran Affairs</li>
  <li id="agency" data-filter = ".epa">Environmental Protection Agency</li>
  <li id="agency" data-filter = ".gsa">General Services Administration</li>
  <li id="agency" data-filter = ".omb">Office of Management and Budget</li>
  <li id="agency" data-filter = ".nasa">National Aeronautics and Space Administration</li>
</ul>
</ul>
<ul class="usa-megamenu-col" style="padding-left:5px;margin:0;">
<ul>

</ul>
</ul>
<ul class="usa-megamenu-col" style="padding-left:5px;margin:0;">
<ul>
  <li id="agency" data-filter = ".nsf">National Science Foundation</li>
  <li id="agency" data-filter = ".opm">Office of Personnel Management</li>
  <li id="agency" data-filter = ".sba">Small Business Administration</li>
  <li id="agency" data-filter = ".ssa">Social Security Administration</li>
  <li id="agency" data-filter = ".usaid">United States Agency for International Development</li>
</ul>
</ul>
</div>
