<section class="usa-section usa-section-dark-border usa-graphic_list">
  <div class="grid-cap">

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/it-mod/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Modernize_IT_white.png" alt="IT Modernization" width="60"><br>IT Modernization</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/leveragingdata/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Federal_Data_white.png" alt="Icon_Federal_Data" width="60"><br>Data, Accountability and Transparency</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/workforce/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Workforce_white.png" alt="Icon_Workforce" width="60"><br>People - Workforce for the 21st Century</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/cx"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Improving_Customer_white.png" alt="Icon_Improving_Outcomes" width="60"><br>Improving Customer Experience</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/sharing-quality-services/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Sharing_Quality_white.png" alt="Alt text" width="60"><br>Sharing Quality Services</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/low-value-to-high-value-work/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Shifting_From_white.png" alt="Icon_Shifting_From" width="60"><br>Shifting From Low-Value to High-Value Work</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/category-management/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Category_Management_white.png" alt="Category Management" width="60"><br>Category Management</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/grants/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Results-Oriented_white.png" alt="Results-Oriented" width="60"><br>Results-Oriented Accountability for Grants</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/getting-payments-right/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Getting_Payments_white.png" alt="Icon_Getting_Payments" width="60"><br>Getting Payments Right</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/tbm/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Improving_Outcomes_white.png" alt="Icon_Improving_Customer_white" width="60"><br>Federal IT Spending Transparency</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/frictionless-acquisition/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Achieve_Transformative_white.png" alt="Improve Management of Major Acquisitions icon" width="60"><br>Frictionless Acquisition</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/permitting/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Modernize_Infrastructure_white.png" alt="Modernizing_Infrastructure" width="60"><br>Modernize Infrastructure Permitting</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/security-clearance-reform/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Personnel_Vetting_white.png" alt="Security" width="60"><br>Security Clearance, Suitability, and Credentialing Reform</a></div>

    <div id="transparent-grid"><a href="{{ site.baseurl }}/CAP/lab-to-market/"><img src="{{ site.baseurl }}/img/CAP_icons/Icon_Enhance_Technology_white.png" alt="Lab-to-Market" width="60"><br>Lab-to-Market</a></div>

  </div>
  </section>
  <!--
    <div class="usa-grid usa-graphic_list-row-CAP">
      <br>
    <center><h2>Cross-Agency Priority Goals</h2></center>
    <div class="usa-width-one-sixth usa-media_block">
        <div class="usa-media_block-body">
            <div id="parent"><center><a href="{{ site.baseurl }}/CAP/it-modernization/"><img src="../img/CAP_icons/Icon_Modernize_IT_white.png" alt="IT Modernization" width="70"></a>
             <p><a href="{{ site.baseurl }}/CAP/it-modernization/">IT Modernization</a></div></p></center>
        </div>
      </div>
      <div class="usa-width-one-sixth usa-media_block">
        <div class="usa-media_block-body">
            <center><div id="parent"><a href="{{ site.baseurl }}/CAP/leveraging-data/"><img src="../img/CAP_icons/Icon_Federal_Data_white.png" alt="Icon_Federal_Data" width="70"></a>
             <p><a href="{{ site.baseurl }}/CAP/leveraging-data/">Data, Accountability and Transparency</a></div></p></center>
        </div>
      </div>
      <div class="usa-width-one-sixth usa-media_block">
        <div class="usa-media_block-body">
             <center><div id="parent"><a href="../CAP/CAP_goal_3.html"><img src="../img/CAP_icons/Icon_Workforce_white.png" alt="Icon_Workforce" width="70"></a>
             <p><a href="../CAP/CAP_goal_3.html">People - Workforce for the 21st Century</a></div></p></center>
        </div>
      </div>
      <div class="usa-width-one-sixth usa-media_block">
        <div class="usa-media_block-body">
             <center><div id="parent"><a href="../CAP/CAP_goal_4.html"><img src="../img/CAP_icons/Icon_Improving_Customer_white.png" alt="Icon_Improving_Outcomes" width="70"></a>
             <p><a href="../CAP/CAP_goal_4.html">Improving Customer Experience</a></div></p></center>
        </div>
      </div>
      <div class="usa-width-one-sixth usa-media_block">
        <div class="usa-media_block-body">
             <center><div id="parent"><a href="{{ site.baseurl }}/CAP/sharing-quality-services/"><img src="../img/CAP_icons/Icon_Sharing_Quality_white.png" alt="Alt text" width="70"></a>
             <p><a href="{{ site.baseurl }}/CAP/sharing-quality-services/">Sharing Quality Services</a></div></p></center>
        </div>
      </div>
      <div class="usa-width-one-sixth usa-media_block">
        <div class="usa-media_block-body">
            <center><div id="parent"><a href="../CAP/CAP_goal_6.html"><img src="../img/CAP_icons/Icon_Shifting_From_white.png" alt="Icon_Shifting_From" width="70"></a>
             <p><a href="../CAP/CAP_goal_6.html">Shifting From Low-Value to High-Value Work</a></div></p></center>
        </div>
      </div>
</div>
<div class="usa-grid usa-graphic_list-row-CAP">
<center><div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
       <center><div id="parent"><a href="../CAP/CAP_goal_7.html"><img src="../img/CAP_icons/Icon_Category_Management_white.png" alt="Category Management" width="70"></a>
         <p><a href="../CAP/CAP_goal_7.html">Category Management</a></div></p></center>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <center><div id="parent"><a href="../CAP/CAP_goal_8.html"><img src="../img/CAP_icons/Icon_Results-Oriented_white.png" alt="Results-Oriented" width="70"></a>
         <p><a href="../CAP/CAP_goal_8.html">Results-Oriented Accountability for Grants</a></div></p></center>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <center><div id="parent"><a href="../CAP/CAP_goal_9.html"><img src="../img/CAP_icons/Icon_Getting_Payments_white.png" alt="Icon_Getting_Payments" width="70"></a>
         <p><a href="../CAP/CAP_goal_9.html">Getting Payments Right</a></div></p></center>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <center><div id="parent"><a href="../CAP/CAP_goal_10.html"><img src="../img/CAP_icons/Icon_Improving_Outcomes_white.png" alt="Icon_Improving_Customer_white" width="70"></a>
         <p><a href="../CAP/CAP_goal_10.html">Federal IT Spending Transparency</a></div></p></center>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <center><div id="parent"><a href="../CAP/CAP_goal_11.html"><img src="../img/CAP_icons/Icon_Achieve_Transformative_white.png" alt="Improve Management of Major Acquisitions icon" width="70"></a>
         <p><a href="../CAP/CAP_goal_11.html">Improve Management of Major Acquisitions</a></div></p></center>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <center><div id="parent"><a href="../CAP/CAP_goal_12.html"><img src="../img/CAP_icons/Icon_Modernize_Infrastructure_white.png" alt="Modernizing_Infrastructure" width="70"><a/>
         <p><a href="../CAP/CAP_goal_12.html">Modernize Infrastructure Permitting</a></div></p></center>
    </div>
  </div>
</div>
<div class="usa-grid usa-graphic_list-row-CAP">
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
    <p></p>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
          <p></p>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
       <center><a href="../CAP/CAP_goal_13.html"><img src="../img/CAP_icons/Icon_Personnel_Vetting_white.png" alt="Security" width="70" float="right">
         <p style="float:right"><div id="parent"><a href="../CAP/CAP_goal_13.html">Security Clearance, Suitability, and Credentialing Reform</a></div></p></center>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <center><div id="parent"><a href="../CAP/CAP_goal_14.html"><img src="../img/CAP_icons/Icon_Enhance_Technology_white.png" alt="Lab-to-Market" width="70"></a>
         <p><a href="../CAP/CAP_goal_14.html">Lab-to-Market</a></div></p></center>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
          <p></p>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
          <p></p>
    </div>
  </div>
</div>
<br>-->
</section>
