{% assign card_link = include.link | prepend: site.baseurl %}

<article class="card">
  <div class="card-link" data-href="{{ card_link }}" tabindex="0">
    <img
       alt="{{ include.image_alt }}"
       class="card-image-bg"
       src="{{ site.baseurl }}{{ include.image_src }}"
       style="width:100%;object-fit:cover;"
    >
    <div class="card-banner-homepage">
      {% if include.agency %}
        <p class="card-tag">{{ include.agency }}</p>
      {% endif %}
      {% if card_link and include.tagline %}
        <a href="{{ card_link }}" tabindex="0" class="card-link-tagline"><h3 class="h4" style="margin-top:0;">{{ include.tagline }}</h3></a>
      {% endif %}
      {% if include.date %}
        <p class="card-date"; style="color:#323a45;">{{ include.date | date: '%B %d, %Y' }} </p>
      {% endif %}
        <!--<p class="card-description">{{ include.description }}</p>-->
        </div>
        <br />
        <br />
  </div>
</article>
