<section class="usa-section usa-graphic_list" style="padding:0px;">
    <ul id="accordion-1" class="accordion-1 iso-nav" style="margin-left:0px;list-style-type:none;">

      <div class="usa-grid usa-graphic_list-row" >
      <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
          <li style="padding:10px;text-align:center;font-size:1.5rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px; tabindex="0" onclick="myFunction14()" onkeypress="myFunction14()" id="agency-1">CSS Agency Peer Group Distribution</li>
      </div>
      <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
        <li style="padding:10px;text-align:center;font-size:1.5rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px; tabindex="0" onclick="myFunction15()" onkeypress="myFunction15()" id="agency-1">CSS Agency Peer Group Comparison</li>
         </div>
     </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/kpi.js"></script>
<script src="{{ site.baseurl }}/js/script.js"></script>
