
     <section class="usa-section usa-graphic_list" style="padding:0px;">
         <ul id="accordion-1" class="accordion iso-nav" style="margin-left:0px;list-style-type:none;">

           <div class="usa-grid usa-graphic_list-row" >
           <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
             <li tabindex="0" onclick="myFunction14()" onkeypress="myFunction14()">
               <div class="link" tabindex="0">
               <i class="fa fa-user" style="display: contents;margin-right:5px;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">CSS 2019 Agency Overview</span><i class="fa fa-chevron-down"></i>
               </div>
             </li>
           </div>

           <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
             <li tabindex="0" onclick="myFunction16()" onkeypress="myFunction16()">
               <div class="link" tabindex="0">
               <i class="fa fa-user" style="display: contents;margin-right:5px;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">CSS 2019 Agency Component View</span><i class="fa fa-chevron-down"></i>
               </div>
             </li>
           </div>


           <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
             <li tabindex="0" onclick="myFunction15()" onkeypress="myFunction15()">
               <div class="link" tabindex="0">
               <i class="fa fa-user" style="display: contents;margin-right:5px;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">CSS 2019 Agency Satisfaction Distribution</span><i class="fa fa-chevron-down"></i>
               </div>
             </li>
           </div>


</div>


          </ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/kpi.js"></script>
<script src="{{ site.baseurl }}/js/script.js"></script>
<script src="https://use.fontawesome.com/965b3921bf.js"></script>
