<section class="usa-section" style="background-color:white;">
  <div class="usa-grid">
    <div class="usa-width-three-fourths">
      <div class="usa-grid usa-serif">
        <div class="usa-width-one-third">
          <span style="font-size: 3.25em;">
            13
          </span>
          <br>
          <span style="font-size: 2em;">
          Agencies
          </span>
        </div>
        <div class="usa-width-one-third">
          <span style="font-size: 3.25em;">
            25
          </span>
          <br>
          <span style="font-size: 2em;">
          Services
          </span>
        </div>
        <div class="usa-width-one-third">
          <span style="font-size: 3.25em;">
            514,602
          </span>
          <br>
          <span style="font-size: 2em;">
            Interactions
          </span>
        </div>
      </div>
      <br>
      <div class="usa-grid">
        <div class="usa-width-one-half">
          <div class="usa-alert cx-alert-stat highlight">
            <div class="usa-alert-body">
              <div class="percentage">
                67%
              </div>
              <div class="category">
                <h3 class="usa-alert-heading">Trust</h3>
                <p class="usa-alert-text">
                  Agreed with Trust
                </p>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-alert cx-alert-stat highlight">
            <div class="usa-alert-body">
              <div class="percentage">
                78%
              </div>
              <div class="category">
                <h3 class="usa-alert-heading">Satisfaction</h3>
                <p class="usa-alert-text">
                  Agreed with Satisfaction
                </p>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="usa-grid">
        <div class="usa-width-one-half">
          <div class="usa-alert cx-alert-stat">
            <div class="usa-alert-body">
              <div class="percentage">
                72%
              </div>
              <div class="category">
                <h3 class="usa-alert-heading">Service Quality</h3>
                <p class="usa-alert-text">
                  Agreed "my need was addressed"
                  <br>
                  <br>
                </p>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-alert cx-alert-stat">
            <div class="usa-alert-body">
              <div class="percentage">
                61%
              </div>
              <div class="category">
                <h3 class="usa-alert-heading">Ease of Process</h3>
                <p class="usa-alert-text">
                  Agreed "It was easy to complete what I needed to do."
                </p>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="usa-grid">
        <div class="usa-width-one-half">
          <div class="usa-alert cx-alert-stat">
            <div class="usa-alert-body">
              <div class="percentage">
                79%
              </div>
              <div class="category">
                <h3 class="usa-alert-heading">Process Efficiency</h3>
                <p class="usa-alert-text">
                  Agreed "It took a reasonable amount of time to do what I needed to do."
                </p>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-alert cx-alert-stat">
            <div class="usa-alert-body">
              <div class="percentage">
                93%
              </div>
              <div class="category">
                <h3 class="usa-alert-heading">Equity in Process</h3>
                <p class="usa-alert-text">
                  Agreed "I was treated fairly"
                  <br>
                  <br>
                  <br>
                </p>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="usa-grid">
        <div class="usa-width-one-half">
          <div class="usa-alert cx-alert-stat">
            <div class="usa-alert-body">
              <div class="percentage">
                84%
              </div>
              <div class="category">
                <h3 class="usa-alert-heading">Helpful Employees</h3>
                <p class="usa-alert-text">
                  Agreed "Employees I interacted with were helpful"
                </p>
              </div>
              <div style="clear: both;"></div>
            </div>
          </div>
        </div>
        <div class="usa-width-one-half">
          <div class="usa-alert" style="background-color: white; border: 1px solid black; margin-top: 1px;">
            <div style="text-align: center;">
              <br>
              <a href="#" style="font-size: 24px; text-decoration: none;">View All Data</a>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="usa-width-one-fourth usa-serif" style="background-color: #F4F4F4; padding: 0 12px 12px 12px; border-bottom: 10px solid #CCC;">
      <span style="font-size: 3.25em;">
        14,543
      </span>
      <br>
      <span style="font-size: 2em;">
        Responses
      </span>

      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <canvas id="cx-doughnut-chart-canvas" width="220" height="480">&nbsp;</canvas>
        </div>
      </div>
    </div>
  </div>
<section>

<script>
  var doughnutData = {
    datasets: [{
      data: [
        30, 20, 10, 10, 30
      ],
      backgroundColor: [
        "#73b3e7",
        "#fa9441",
        "#005ea2",
        "#e41d3d",
        "#162e51",
        "#c05600",
        "#565c65",
        "#dfe1e2",
      ],
      label: 'Dataset 1'
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
      'Agency 1',
      'Agency 2',
      'Agency 3',
      'Agency 4',
      'Agency 5'
    ]
  };

  var doughnutConfig = {
    type: 'doughnut',
    data: doughnutData,
    options: {
      responsive: true,
      legend: {
        position: 'bottom',
      },
      title: {
        display: false,
        // text: 'Doughnut Chart'
      },
      animation: {
        animateScale: true,
        animateRotate: true
      }
    }
  };

  window.addEventListener("load", function() {
    var ctx = document.getElementById('cx-doughnut-chart-canvas').getContext("2d");
    window.myDoughnut = new Chart(ctx, doughnutConfig);
  });
</script>
