<section class="usa-section" style="border: 1px solid #d9e8f6;">
  <div class="usa-grid">
    <h2>
      What is the data saying?
    </h2>

    <div class="usa-width-one-third">
      <img src="{{ site.baseurl }}/img/cx/img-2.png" alt="Photo of person">
      <h3>
        Over 1.1 million survey responses per quarter —
        <span style="color: #e31c3d;">
          The public wants to give feedback
        </span>
      </h3>
      <p>
        20 of 24 participating High-Impact Service Providers are reporting feedback data. Most responses coming from agencies focused on healthcare: CMS and VHA.
      </p>
      <p>
        Three agencies provided feedback on the total service experience, 12 provided data from a contact center, and 10 provided data collected from a website.
      </p>
    </div>
    <div class="usa-width-one-third">
      <img src="{{ site.baseurl }}/img/cx/img-1.png" alt="Photo of person">
      <h3>
        Overall Satisfaction of 4.0 out of 5 across all services —
        <span style="color: #e31c3d;">
          Good but room to improve
        </span>
      </h3>
      <p>
        Response to a Likert-scale question typically phrased: “I am satisfied with the service I received.”
      </p>
      <p>
        Regression analysis suggests that Overall Satisfaction is driven most by Effectiveness, Ease, and Efficiency of the interaction or interface.
      </p>
    </div>
    <div class="usa-width-one-third">
      <img src="{{ site.baseurl }}/img/cx/img-3.png" alt="Photo of person">
      <h3>
        Average ‘Employee’ response of 4.3 —
        <span style="color: #e31c3d;">
          People matter in providing a good service experience
        </span>
      </h3>
      <p>
        Response to a Likert-scale question typically phrased: “People I interacted with were helpful”.
      </p>
      <p>
        Average Overall Satisfaction of web channels trail call centers by 0.3 points in terms of satisfaction, effectiveness, and ease. Average Trust responses are equal between the two channels.
      </p>
    </div>

  </div>
</section>
