<section class="usa-section usa-graphic_list service-stat-examples">
  <div class="usa-grid usa-graphic_list-row">

    <h2 style="color:black;margin-top:0">We’re designing services for everyone</h2>

    <div class="usa-width-one-third">
      <p>
        <strong>
          <a href="https://www.irs.gov/pub/irs-pdf/p3744.pdf">Internal Revenue Service</a>
        </strong>
        <br>
          In FY17, processed 246 million federal tax returns and forms with a $2,862 average individual refund.
      </p>
    </div>

    <div class="usa-width-one-third">
      <p>
        <strong>
          <a href="https://www.ssa.gov/news/press/factsheets/basicfact-alt.pdf">Social Security Administration</a>
        </strong>
        <br>
          Provides over $1 trillion in benefits to approximately 64 million Americans.
      </p>
    </div>
    <div class="usa-width-one-third">
      <p>
        <strong><a href="https://tsa.gov/sites/default/files/resources/tsabythenumbers_factsheet.pdf">Transportation Security Administration</a>
        </strong>
        <br>
        Screens more than 2 million passengers on more than 25,000 flights each day.
      </p>
    </div>
  </div>
  <div class="usa-grid more-info-row">
    <a class="usa-button usa-button-secondary" href="https://www.performance.gov/cx/HISP-placemat.pdf">Learn more about the CX CAP Goal</a>
  </div>
</section>
