<div>
  <a id="dap-data"></a>
  <h2 class="cx-section-heading">Digital Analytics Program Data</h2>

  <ul>
    <li>
      <a href="{{ site.baseurl }}/cx/dashboard/dap-reports/FY19Q1/cx-hisp-dap-{{ hisp.service_id }}.pdf">FY19 Q1</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/cx/dashboard/dap-reports/FY19Q2/cx-hisp-dap-{{ hisp.service_id }}.pdf">FY19 Q2</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/cx/dashboard/dap-reports/FY19Q3/cx-hisp-dap-{{ hisp.service_id }}.pdf">FY19 Q3</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/cx/dashboard/dap-reports/FY19Q4/cx-hisp-dap-{{ hisp.service_id }}.pdf">FY19 Q4</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/cx/dashboard/dap-reports/FY20Q1/cx-hisp-dap-{{ hisp.service_id }}.pdf">FY20 Q1</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/cx/dashboard/dap-reports/FY20Q2/cx-hisp-dap-{{ hisp.service_id }}.pdf">FY20 Q2</a>
    </li>
    <li>
      <a href="{{ site.baseurl }}/cx/dashboard/dap-reports/FY20Q3/cx-hisp-dap-{{ hisp.service_id }}.pdf">FY20 Q3</a>
    </li>
  </ul>
</div>
