<!--***********buttons for policy catalog page*********************************************-->

<div class="usa-width-one-fourth usa-media_block ">

 <a class="usa-button usa-button--accent-cool margin-bottom-2" href="{{ site.baseurl }}/policies-and-priorities/#subject=*&role=*&status=*">Reset Filter</a>

 <nav id="filter" class="filters">


     <h2 class="filter-title font-sans-sm">Filter by Agency</h2>
     <ul class="filter-list" data-filter-group="role">
         <li><a aria-label="Filter by Category: Governance" role="checkbox" href="javascript:void(0)" data-filter=".usda">USDA</a></li>
         <li><a aria-label="Filter by Category: Data" role="checkbox" href="javascript:void(0)" data-filter=".doc">DOC</a></li>
         <li><a aria-label="Filter by Category: Cloud" role="checkbox" href="javascript:void(0)" data-filter=".defense">DOD</a></li>
         <li><a aria-label="Filter by Category: IT Spending" role="checkbox" href="javascript:void(0)" data-filter=".ed">ED</a></li>
         <li><a aria-label="Filter by Category: Cybersecurity" role="checkbox" href="javascript:void(0)" data-filter=".energy">DOE</a></li>
         <li><a aria-label="Filter by Category: Acquisition" role="checkbox" href="javascript:void(0)" data-filter=".hhs">HHS</a></li>
         <li><a aria-label="Filter by Category: Web" role="checkbox" href="javascript:void(0)" data-filter=".dhs">DHS</a></li>
         <li><a aria-label="Filter by Category: Workforce" role="checkbox" href="javascript:void(0)" data-filter=".hud">HUD</a></li>
         <li><a aria-label="Filter by Category: Shared Services" role="checkbox" href="javascript:void(0)" data-filter=".interior">DOI</a></li>
         <li><a aria-label="Filter by Category: Data Center Consolidation" role="checkbox" href="javascript:void(0)" data-filter=".doj">DOJ</a></li>
         <li><a aria-label="Filter by Category: Modernization" role="checkbox" href="javascript:void(0)" data-filter=".dol">DOL</a></li>
         <li ><a aria-label="Filter by Category: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".treasury">USDT</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".state">DOS</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".dot">DOT</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".va">VA</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".epa">EPA</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".gsa">GSA</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".omb">OMB</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".nasa">NASA</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".nsf">NSF</a></li>
        <li  ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".nrc">NRC</a></li>
        <li  ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".opm">OPM</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".sba">SBA</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".ssa">SSA</a></li>
        <li ><a aria-label="Filter by Agency: All Cyber" role="checkbox" href="javascript:void(0)" data-filter=".usaid">USAID</a></li>
     </ul>

     <h2 class="filter-title font-sans-sm">Filter by Award Type</h2>
     <ul class="filter-list" data-filter-group="status">
         <li><a aria-label="Filter by Award Type: Council" role="checkbox" href="javascript:void(0)" data-filter=".agency">Agency</a></li>
         <li><a aria-label="Filter by Award Type: Council" role="checkbox" href="javascript:void(0)" data-filter=".council">Council</a></li>
     </ul><h2 class="filter-title font-sans-sm">Filter by Type</h2>
     <ul class="filter-list" data-filter-group="subject">
         <li><a aria-label="Filter by Type: Individual" role="checkbox" href="javascript:void(0)" data-filter=".indiv">Individual</a></li>
         <li><a aria-label="Filter by Category: Team" role="checkbox" href="javascript:void(0)" data-filter=".GoG-team">Team</a></li>
     </ul>
 </nav>
</div>
