<!--***********buttons for policy catalog page*********************************************-->

<div class="usa-width-one-fourth usa-media_block ">

 <a class="usa-button usa-button--accent-cool margin-bottom-2" href="{{ site.baseurl }}/gearawards/winners/#subject=*&role=*&status=*">Reset Filter</a>

 <nav id="filter" class="filters">


     <h3 class="filter-title font-sans-sm">Filter by Agency/Council</h3>
     <ul class="filter-list list123" data-filter-group="role">
        <li><a aria-label="Filter by Agency: CAOC" role="checkbox" href="javascript:void(0)" data-filter=".caoc">CAOC</a></li>
        <li><a aria-label="Filter by Agency: CFOC" role="checkbox" href="javascript:void(0)" data-filter=".cfoc">CFOC</a></li>
        <li><a aria-label="Filter by Agency: CIOC" role="checkbox" href="javascript:void(0)" data-filter=".cioc">CIOC</a></li>
        <li><a aria-label="Filter by Agency: DHS" role="checkbox" href="javascript:void(0)" data-filter=".dhs">DHS</a></li>
        <li><a aria-label="Filter by Agency: Commerce" role="checkbox" href="javascript:void(0)" data-filter=".doc">DOC</a></li>
        <li><a aria-label="Filter by Agency: Defense" role="checkbox" href="javascript:void(0)" data-filter=".defense">DOD</a></li>
        <li><a aria-label="Filter by Agency: Energy" role="checkbox" href="javascript:void(0)" data-filter=".doe">DOE</a></li>
        <li><a aria-label="Filter by Agency: DOJ" role="checkbox" href="javascript:void(0)" data-filter=".doj">DOJ</a></li>
        <li><a aria-label="Filter by Agency: DOL" role="checkbox" href="javascript:void(0)" data-filter=".dol">DOL</a></li>
        <li ><a aria-label="Filter by Agency: DOT" role="checkbox" href="javascript:void(0)" data-filter=".dot">DOT</a></li>
        <li><a aria-label="Filter by Agency: Ed" role="checkbox" href="javascript:void(0)" data-filter=".ed">ED</a></li>
        <li ><a aria-label="Filter by Agency: EPA" role="checkbox" href="javascript:void(0)" data-filter=".epa">EPA</a></li>
        <li ><a aria-label="Filter by Agency: GSA" role="checkbox" href="javascript:void(0)" data-filter=".gsa">GSA</a></li>
        <li><a aria-label="Filter by Agency: HHS" role="checkbox" href="javascript:void(0)" data-filter=".hhs">HHS</a></li>
        <li><a aria-label="Filter by Agency: HUD" role="checkbox" href="javascript:void(0)" data-filter=".hud">HUD</a></li>
        <li ><a aria-label="Filter by Agency: NARA" role="checkbox" href="javascript:void(0)" data-filter=".nara">NARA</a></li>
        <li ><a aria-label="Filter by Agency: NASA" role="checkbox" href="javascript:void(0)" data-filter=".nasa">NASA</a></li>
        <li  ><a aria-label="Filter by Agency: NRC" role="checkbox" href="javascript:void(0)" data-filter=".nrc">NRC</a></li>
        <li  ><a aria-label="Filter by Agency: NSF" role="checkbox" href="javascript:void(0)" data-filter=".nsf">NSF</a></li>
        <li  ><a aria-label="Filter by Agency: OMB" role="checkbox" href="javascript:void(0)" data-filter=".omb">OMB</a></li>
        <li  ><a aria-label="Filter by Agency: OPM" role="checkbox" href="javascript:void(0)" data-filter=".opm">OPM</a></li>
        <li  ><a aria-label="Filter by Agency: PIC" role="checkbox" href="javascript:void(0)" data-filter=".pic">PIC</a></li>
        <li ><a aria-label="Filter by Agency: SBA" role="checkbox" href="javascript:void(0)" data-filter=".sba">SBA</a></li>
        <li ><a aria-label="Filter by Agency: SSA" role="checkbox" href="javascript:void(0)" data-filter=".ssa">SSA</a></li>
        <li ><a aria-label="Filter by Agency: State" role="checkbox" href="javascript:void(0)" data-filter=".state">State</a></li>
        <li ><a aria-label="Filter by Agency: Treasury" role="checkbox" href="javascript:void(0)" data-filter=".treasury">Treasury</a></li>
        <li ><a aria-label="Filter by Agency: USAID" role="checkbox" href="javascript:void(0)" data-filter=".usaid">USAID</a></li>
        <li><a aria-label="Filter by Agency: USDA" role="checkbox" href="javascript:void(0)" data-filter=".usda">USDA</a></li>
        <li ><a aria-label="Filter by Agency: VA" role="checkbox" href="javascript:void(0)" data-filter=".va">VA</a></li>
     </ul>

     <h3 class="filter-title font-sans-sm">Filter by Award Type</h3>
     <ul class="filter-list list123" data-filter-group="status">
         <li><a aria-label="Filter by Award Type: Agency" role="checkbox" href="javascript:void(0)" data-filter=".agency">Agency</a></li>
         <li><a aria-label="Filter by Award Type: Council" role="checkbox" href="javascript:void(0)" data-filter=".council">Council</a></li>
         <li><a aria-label="Filter by Award Type: President's" role="checkbox" href="javascript:void(0)" data-filter=".president">President's</a></li>
     </ul>

     <h3 class="filter-title font-sans-sm">Filter by Type</h3>
     <ul class="filter-list list123" data-filter-group="subject">
         <li><a aria-label="Filter by Type: Individual" role="checkbox" href="javascript:void(0)" data-filter=".indiv">Individual</a></li>
         <li><a aria-label="Filter by Type: Team" role="checkbox" href="javascript:void(0)" data-filter=".GoG-team">Team</a></li>
     </ul>
 </nav>
</div>
