<!--********Generates policy catalog items. Individual cards live in the in the _policies folder**************-->

<div class="usa-width-three-fourths usa-media_block ">
  <p class="filter-count card-tag margin-top-0 text-gray-50"></p>
  <div class="2020-winners">

    {% for 2020_GoG_winners in site.2020_GoG_winners %}
      <div class="usa-width-one-third winner {{ 2020_GoG_winners.filters }} ">
      <div class="container-GoG">
        {% if 2020_GoG_winners.image %}
        <center><img class="card-image-gog-team gray" src="{{ site.baseurl }}/img/{{ 2020_GoG_winners.image }}" alt="Avatar" class="image"></center>
        {% else %}
        <img class="card-image-gog-team-award gray" src="{{ site.baseurl }}/img/GoG/banners/agency-background.png" alt="Avatar" class="image">
        {% endif %}
        <div class="winner-text-team">
          <div id="winner-left">
            <p class="name-text" style="margin-bottom:19px;line-height:1;"><b>{{ 2020_GoG_winners.name }}</b></p>
            {% if 2020_GoG_winners.team-names %}
            <ul style="padding-left:0;">
              {% for item in 2020_GoG_winners.team-names %}
              <li class="team">{{ item }}</li>
              {% endfor %}
            </ul>
<!--            <p class="card-tag">{{ 2020_GoG_winners.team-names }}</p>-->
            {% else %}
            <p class="card-tag">{{ 2020_GoG_winners.agency }}</p>
            {% endif %}

          </div>
          <div id="right">
           <img
            src="{{ site.baseurl }}/img/GoG/banners/{{2020_GoG_winners.banner}}-banner.png"
            style="height:75px;float:right;margin-top: -32px;"><br>
          </div><!--close right div-->
            <div class="overlay">
              <div class="text">
                <p style="margin-top:0;"><b>{{ 2020_GoG_winners.name}}</b>
                    <p class="description-2020">{{ 2020_GoG_winners.description }}</p>
                  {% if 2020_GoG_winners.award == "Agency" %}
                    <p id="agency-winner-border"><b>{{ 2020_GoG_winners.award }} Award</b></p>
                  {% elsif 2020_GoG_winners.award == "Council" %}
                    <p id="council-winner-border"><b>{{ GoG_winners.award }} Award</b></p>
                  {% elsif 2020_GoG_winners.award == "President's" %}
                    <p id="president-winner-border"><b>{{ 2020_GoG_winners.award }} Award</b></p>
                  {% endif %}
              </div><!--close text-->
            </div><!--close overlay-->
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
</div>
