
{% for GoG_winners in site.GoG_winners limit:12 %}

  <div class="usa-width-one-fourth usa-media_block item {{ GoG_winners.category }} winner-card-link" style="margin: 7px;">
      <img id="winner" src="{{ site.baseurl }}{{ GoG_winners.image }}">
      <div class="winner-text">
        <div id="left">
        <p class="name-text" style="margin-bottom:7px;"><b>{{ GoG_winners.name}}</b> <!--<i>{{ GoG_winners.title}}</i>
        {{ GoG_winners.award }} Award--></p>
          <p style="margin-top:0;" class="card-tag">{{ GoG_winners.agency }}</p>
    <!--  <img
        src="{{ site.baseurl }}{{ GoG_winners.banner }}"
        style=>-->
      </div>
      <div id="right">
         <img
            src="{{ site.baseurl }}{{ GoG_winners.banner }}"
            style="height:60px;float:right;">
      </div>
    </div>
    </div>


  {% endfor %}





<!---->





<!--<div class="button-group filter-button-group">
	{% for agency-acronym in site.GoG_winners %}
		<a class="button" data-filter=".{{ agency-acronym }}">{{ agency-acronym }}</a>
	{% endfor %}
		<a class="button active" data-filter="GSA">Agency</a>
</div>


<center>
  <div class="winner-container grid">
  <img
     src="{{ site.baseurl }}{{ GoG_winners.image }}"
     id="winner"
     >
<div class="winner-text">
  <p class="card-tag">{{ GoG_winners.agency }}</p>
  <p class="name-text"><b>{{ GoG_winners.name}}</b> <!--<i>{{ GoG_winners.title}}</i>--><br>
<!--  {{ GoG_winners.award }} Award</p>
</div>

</div>
</center>-->
