<div id="openModal13" class="modalDialog">
<div>
  <a href="#close" title="Close" class="close">X</a>
    <h2 style="margin-top:0px;">Join our Community! Results-Oriented Accountability for Grants Community of Practice</h2>
    <ul>
      <li>Federal members: to join, use your .gov or .mil email address to email <a href="mailto:grantsfed-subscribe-request@listserv.gsa.gov?subject=Federal Join: Results-Oriented Accountability for Grants Community of Practice">grantsfed-subscribe-request@listserv.gsa.gov.</a></li>
      <li>Non-federal members: to join, email <a href="mailto:grantscommunity-subscribe-request@listserv.gsa.gov?subject=Non-Federal Join: Results-Oriented Accountability for Grants Community of Practice">grantscommunity-subscribe-request@listserv.gsa.gov</a></li>
    </ul>

  </div>
</div>
