{% assign this_hisp = hisp %}

{% for hisp_data in site.data.hisp-data %}
{% if hisp_data.service_id == hisp.service_id %}
  {% assign this_hisp_data = hisp_data %}
{% endif %}
{% endfor %}

{% if this_hisp.service == this_hisp.bureau %}
  {% assign hisp_bureau_display = '' %}
{% else %}
  {% capture hisp_bureau_display %}{{ this_hisp.bureau }}, {% endcapture %}
{% endif %}

<main class="usa-content usa-layout-docs cx-hisp-profile" id="main-content">
  <section class="usa-section">
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        <p>
          {{ this_hisp.blurb }}
        </p>
      </div>
    </div>
  </section>

  <section class="usa-section usa-prose">
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        <h3>
          CX Plans and Progress
        </h3>
        <p>
          Each federal agency has developed design artifacts to support the development of Customer Experience
          and generates data based on web traffic and customer feedback.
        </p>
        <h4>
          Planning
        </h4>
        <p>
          <a href="{{ site.baseurl }}/cx/dashboard/actionplans/2019/2019-hisp-action-plan-{{ this_hisp.service_id }}.pdf" target="_blank" rel="noopener">Action Plan <i class="fa fa-external-link"></i></a>
          <br>
          <a href="#notes">Notes</a>
        </p>
        <h4>
          Progress
        </h4>
        <p>
          <a href="#cx-charts">CX Charts</a>
          <br>
          <a href="#cx-data">CX Feedback Data</a>
          <br>
          <a href="#dap-data">Digital Analytics Data</a>
          <br>
          <a href="#operational-data">Operational Data</a>
        </p>

        <div>
          <a id="notes"></a>
          <h2 class="cx-section-heading">Reporting Notes</h2>
          <ul>
            <li>
              CX Feedback Data: HISPs are currently in the process of aligning their customer feedback collections to seven government-wide CX measures. These measures align to specifically worded questions that agencies may make minimal changes to (to
              ensure relevancy for their context) and be scored on a scale of 1 to 5, with 5 indicating strong agreement with a measure statement. Agencies that use a 10 point scale provide a calculation for converting results to a five point scale. Many are
              collecting customer feedback under clearances that did not include a provision to share this data publicly. HISPs without the current capacity to collect and share data using the government-wide measures must identify a target date for reporting
              of these metrics not to exceed FY 2021, Quarter 1.
            </li>
            <li>
              Operational Data: HISPs were provided the opportunity to submit operational data in their quarterly reporting to OMB that provides context regarding their customers' experiences with their service.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="usa-section">
    <div class="usa-grid">
      <div class="usa-width-one-whole">
        {% include chartjs.html year='All' quarter='All' hisp=this_hisp %}
      </div>
      <div class="usa-width-one-whole">
        {% include cx-feedback-data.html this_hisp_data=this_hisp_data %}
      </div>
      <div class="usa-width-one-whole">
        {% include dap-data.html hisp=this_hisp %}
      </div>


    </div>
  </section>
</main>
