<section class="usa-section usa-graphic_list" style="padding:0px;">
    <ul id="accordion-1" class="accordion-1 iso-nav" style="margin-left:0px;list-style-type:none;">

      <div class="usa-grid usa-graphic_list-row" >
      <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
        <li>
          <div class="link-1" tabindex="0">
            <i class="fa fa-group" style="display: contents;margin-right:10px;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">21st Century Workforce</span><i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu-1" style="padding-left:8px;">
            <li tabindex="0" onclick="myFunction()" onkeypress="myFunction()"id="agency-1">Improve Performance</li>
            <li tabindex="0" onclick="myFunction1()" onkeypress="myFunction1()" id="agency-1">Strategic Hiring</li>
          </ul>
        </li>
      </div>
      <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
       <li>
         <div class="link-1" tabindex="0">
           <i class="fa fa-laptop" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">IT Modernization</span><i class="fa fa-chevron-down"></i>
         </div>
         <ul class="submenu-1" style="padding-left:8px;margin-top:0px;">
           <li tabindex="0" onclick="myFunction2()" onkeypress="myFunction2()" id="agency-1">Manage Asset Security</li>
           <li tabindex="0" onclick="myFunction3()" onkeypress="myFunction3()" id="agency-1">Limit Personnel Access </li>
           <li tabindex="0" onclick="myFunction4()" onkeypress="myFunction4()" id="agency-1">Protect Networks and Data </li>
           <li tabindex="0" onclick="myFunction5()" onkeypress="myFunction5()" id="agency-1">Cloud Email Adoption</li>
         </ul>
       </li>
     </div>
    <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
      <li>
        <div class="link-1" tabindex="0">
          <i class="fa fa-repeat" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Category Management</span><i class="fa fa-chevron-down"></i>
      </div>
      <ul class="submenu-1" style="padding-left:8px;margin-top:0px;">
        <li tabindex="0" onclick="myFunction6()" onkeypress="myFunction6()" id="agency-1">Government-wide View</li>
        <li tabindex="0" onclick="myFunction7()" onkeypress="myFunction7()" id="agency-1">Category View</li>
        <li tabindex="0" onclick="myFunction8()" onkeypress="myFunction8()" id="agency-1">Department View</li>
        <li tabindex="0" onclick="myFunction9()" onkeypress="myFunction9()" id="agency-1">Agency Progress in Current Fiscal Year</li>
        <li tabindex="0" onclick="myFunction10()" onkeypress="myFunction10()" id="agency-1">Overview and Definitions</li>
      </ul>
      </li>
    </div>
  </div>

  <div class="usa-grid usa-graphic_list-row">
  <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
    <li>
      <div class="link-1" tabindex="0">
        <i class="fa  fa-arrows-alt" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Sharing Quality Services</span><i class="fa fa-chevron-down"></i>
      </div>
      <ul class="submenu-1" style="padding-left:8px;margin-top:0px;">
        <li tabindex="0" onclick="myFunction11()" onkeypress="myFunction11()" id="agency-1">Customer Satisfaction Scores</li>
      </ul>
    </li>

  </div>
  <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
    <li>
      <div class="link-1" tabindex="0">
        <i class="fa fa-money" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Getting Payments Right</span><i class="fa fa-chevron-down"></i>
      </div>
      <ul class="submenu" style="padding-left:8px;margin-top:0px;">
        <li tabindex="0" onclick="myFunction12()" onkeypress="myFunction12()" id="agency-1">Cash Loss: FY17-18</li>
        <li tabindex="0" onclick="myFunction13()" onkeypress="myFunction13()" id="agency-1">Cash Loss: Program Scorecards</li>
      </ul>
    </li>

  </div>

  </div>

</ul>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/kpi.js"></script>
<script src="{{ site.baseurl }}/js/script.js"></script>
