<section id="kpi-section" class=" usa-section usa-section-dark usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-half usa-media_block">
         <div style="width:20%;float:left;">
           <img src="{{ site.baseurl }}/img/kpi-icon.png" float="left" alt="White icon on blue background of graph line trending upwards"style="margin-righ:10px">
         </div>
         <div style="width:80%;float:right;">
          <h1 style="color:#ffffff;margin-top:0;margin-left:29px;"> <span class="card-tag" style="font-size:2.2rem;color:#dcdee0;">Cross Agency Priority Goal</span> Key Performance Indicators</h1>
        </div>
      </div>
    <div class="usa-width-one-half usa-media_block">
      <a href="{{ site.baseurl }}/CAP/overview/" style="text-decoration:none;color:#ffffff;float:right;font-size:2rem">
         <b> Cross-Agency Priority Goal Overview &#10095;</b></a>
      </div>
</section>


<section class="usa-section usa-section-CAP usa-graphic_list" >
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
      <p>The President’s Management Agenda identifies Cross-Agency Priority (CAP) Goals to target those areas where multiple agencies must collaborate to effect change and report progress in a manner the public can easily track. Below are some of the key indicators that will be used to measure how different goals are performing. You can explore them using the dropdown menus below.</p>
      <p>Our dashboards are interactive. Some of our larger datasets may take a few seconds to load. For optimal user experience, we recommend using a desktop or laptop computer with a good internet connection.</p>
      </div>
    </div>
</section>
