<section class="usa-section usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
       <p>Exlpore CAP Goal KPI using the dropdown menus below.</p>
       <!--<ol>
         <li>Click on a CAP Goal title</li>
         <li>Click on a KPI button to see the visualization</li>
         <li>Interact with the data by hovering or clicking on the graphs</li>
       </ol>-->
   </div>
    <ul id="accordion" class="accordion iso-nav" style="margin-left:0px;list-style-type:none;">

      <div class="usa-grid usa-graphic_list-row" >
      <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
        <li>
          <div class="link">
            <!--<i class="fa fa-database"></i>--><!--HIDES ICON--><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">21st Century Workforce</span><i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu" style="padding-left:8px;">
            <li class="show1 show" id="agency-1">Improve Performance</li>
            <li class="show2 show" target="2" id="agency-1">Strategic Hiring</li>
          </ul>
        </li>
      </div>
      <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
       <li>
         <div class="link">
           <!--<i class="fa fa-database"></i>--><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">IT Modernization</span><i class="fa fa-chevron-down"></i>
         </div>
         <ul class="submenu" style="padding-left:8px;margin-top:0px;">
           <li class="show3 show" target="3" id="agency-1">Manage Asset Security</li>
           <li class="show4 show" target="4" id="agency-1">Limit Personnel Access </li>
           <li class="show5 show" target="5" id="agency-1">Protect Networks and Data </li>
           <li class="show6 show" target="6" id="agency-1">Cloud Email Adoption</li>
         </ul>
       </li>
     </div>
    <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
      <li>
        <div class="link">
          <!--<i class="fa fa-database"></i> HIDES ICON--><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Category Management</span><i class="fa fa-chevron-down"></i>
      </div>
      <ul class="submenu" style="padding-left:8px;margin-top:0px;">
        <li class="show7 show" target="7" id="agency-1">Category Management Data</li>
        </ul>
      </li>
    </div>
  </div>

  <div class="usa-grid usa-graphic_list-row">
  <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
    <li>
      <div class="link">
        <!--<i class="fa fa-database"></i>--><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Sharing Quality Services</span><i class="fa fa-chevron-down"></i>
      </div>
      <ul class="submenu" style="padding-left:8px;margin-top:0px;">
        <li class="show8 show" target="8" id="agency-1">Customer Satisfaction Scores</li>
      </ul>
    </li>

  </div>
  <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
    <li>
      <div class="link">
        <!--<i class="fa fa-database"></i>--><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Getting Payments Right</span><i class="fa fa-chevron-down"></i>
      </div>
      <ul class="submenu" style="padding-left:8px;margin-top:0px;">
        <li class="show9 show" target="9" id="agency-1">FY 17-18</li>
        <li class="show10 show" target="10" id="agency-1">Program Scorecards</li>
      </ul>
    </li>

  </div>

  </div>

</ul>
</section>
