<section class="usa-section usa-graphic_list" style="padding-bottom:0px;">
   <div class="usa-grid usa-graphic_list-row">
       <p>Explore CAP Goal KPI data using the dropdown menus below.</p>
   </div>
    <ul id="accordion" class="accordion iso-nav" style="margin-left:0px;list-style-type:none;">

      <div class="usa-grid usa-graphic_list-row" >
      <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
        <li>
          <div class="link">
            <i class="fa fa-group" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">21st Century Workforce</span><i class="fa fa-chevron-down"></i>
          </div>
          <ul class="submenu" style="padding-left:8px;">
            <li onclick="myFunction()" id="agency-1">Improve Performance</li>
            <li onclick="myFunction1()" id="agency-1">Strategic Hiring</li>
          </ul>
        </li>
      </div>
      <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
       <li>
         <div class="link">
           <i class="fa fa-laptop" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">IT Modernization</span><i class="fa fa-chevron-down"></i>
         </div>
         <ul class="submenu" style="padding-left:8px;margin-top:0px;">
           <li onclick="myFunction2()" id="agency-1">Manage Asset Security</li>
           <li onclick="myFunction3()" id="agency-1">Limit Personnel Access </li>
           <li onclick="myFunction4()" id="agency-1">Protect Networks and Data </li>
           <li onclick="myFunction5()" id="agency-1">Cloud Email Adoption</li>
         </ul>
       </li>
     </div>
    <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
      <li>
        <div class="link">
          <i class="fa fa-repeat" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Category Management</span><i class="fa fa-chevron-down"></i>
      </div>
      <ul class="submenu" style="padding-left:8px;margin-top:0px;">
        <li onclick="myFunction6()" id="agency-1">Government-wide View</li>
        <li onclick="myFunction7()" id="agency-1">Overview and Definitions</li>
        <li onclick="myFunction8()" id="agency-1">Category View</li>
        <li onclick="myFunction9()" id="agency-1">Department View</li>
        <li onclick="myFunction10()" id="agency-1">PMACurrentFYAllAgencyProgress</li>

        </ul>
      </li>
    </div>
  </div>

  <div class="usa-grid usa-graphic_list-row">
  <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
    <li>
      <div class="link">
        <i class="fa  fa-arrows-alt" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Sharing Quality Services</span><i class="fa fa-chevron-down"></i>
      </div>
      <ul class="submenu" style="padding-left:8px;margin-top:0px;">
        <li onclick="myFunction11()" id="agency-1">Customer Satisfaction Scores</li>
      </ul>
    </li>

  </div>
  <div class="usa-width-one-third usa-media_block " style="margin-bottom:0px;">
    <li>
      <div class="link">
        <i class="fa fa-money" style="display: contents;"></i><span style="width:200px;text-align:center;font-size:1.6rem;text-transform: uppercase;font-weight: 700;letter-spacing: 0.5px;">Getting Payments Right</span><i class="fa fa-chevron-down"></i>
      </div>
      <ul class="submenu" style="padding-left:8px;margin-top:0px;">
        <li onclick="myFunction12()" id="agency-1">FY 17-18</li>
        <li onclick="myFunction13()" id="agency-1">Program Scorecards</li>
      </ul>
    </li>

  </div>

  </div>

</ul>
</section>
