  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <header class="usa-header usa-header-basic" role="banner">
   <!-- Gov banner BEGIN -->
   <section class="usa-banner">
       <div class="usa-accordion">
           <header class="usa-banner-header">
               <div class="usa-grid usa-banner-inner">
                   <img src="{{ site.baseurl }}/img/favicons/favicon-57.png" alt="U.S. flag">
                   <p>An official website of the United States government</p>
                   <button class="usa-accordion-button usa-banner-button" aria-expanded="false" aria-controls="gov-banner">
           <span class="usa-banner-button-text">Here's how you know</span>
         </button>
               </div>
           </header>
           <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
               <div class="usa-banner-guidance-gov usa-width-one-half">
                   <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/img/icon-dot-gov.svg" alt="Dot gov">
                   <div class="usa-media_block-body">
                       <p>
                           <strong>The .gov means it’s official.</strong>
                           <br> Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
                       </p>
                   </div>
               </div>
               <div class="usa-banner-guidance-ssl usa-width-one-half">
                   <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/img/icon-https.svg" alt="Https">
                   <div class="usa-media_block-body">
                       <p>
                           <strong>The site is secure.</strong>
                           <br> The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
                       </p>
                   </div>
               </div>
           </div>
       </div>
   </section>
    <!-- Gov banner END -->
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <button class="usa-menu-btn">Menu</button>
        <div class="usa-logo" id="logo">
          <a href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="Home">
            <img class="logo-img" src="{{ site.baseurl }}/img/homepage_images/performance-gov-logo-lg@2x.png" alt="Performance.gov">
          </a>
        </div>
      </div>
      <nav role="navigation" class="usa-nav">
        <div class="usa-nav-inner">
          <button class="usa-nav-close">
            <img src="{{site.baseurl}}/img/close.svg" alt="close">
          </button>
          <ul class="usa-nav-primary usa-accordion">
               <li>
                    <li>
                      <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="megamenu-1">
                        <span>Management Priorities</span>
                      </button>
                      <ul class="usa-nav-submenu usa-megamenu usa-grid-full" id="megamenu-1">
                      <li class="usa-megamenu-col">
                         <ul>
                           <li>
                             <a href="#" class="disabled"><span id="navheader">Overview</span></a>
                           </li>
                           <li>
                             <a href="{{ site.baseurl }}/PMA/PMA.html">The President's Management Agenda</a>
                           </li>
                         </li>
                         <li>
                           <a href="{{ site.baseurl }}/CAP/CAP_goals.html">Cross-Agency Priority Goal Overview</a>
                         </li>

                         <li>
                           <a href="{{ site.baseurl }}/CAP/key_performance_indicators.html">Key Performance Indicators</a>
                         </li>
                           <li>
                             <a href="#" class="disabled"><span id="navheader">Key Drivers of Transformation</span></a>
                           </li>
                          <li>
                            <a href="{{ site.baseurl }}/CAP/CAP_goal_1.html">IT Modernization</a>
                          </li>
                          <li>
                            <a href="{{ site.baseurl }}/CAP/CAP_goal_2.html">Data, Accountability and Transparency</a>
                          </li>
                          <li>
                            <a href="{{ site.baseurl }}/CAP/CAP_goal_3.html">People - Workforce for the 21st Century</a>
                          </li>
                        </ul>
                      </li>
                      <li class="usa-megamenu-col">
                        <ul>
                          <li>
                            <a href="#" class="disabled"><span id="navheader">Cross-Cutting Priority Areas</span></a>
                          </li>
                          <li>
                            <a href="{{ site.baseurl }}/CAP/CAP_goal_4.html">Improving Customer Experience</a>
                          </li>
                          <li>
                            <a href="{{ site.baseurl }}/CAP/CAP_goal_5.html">Sharing Quality Services</a>
                          </li>
                          <li>
                            <a href="../CAP/CAP_goal_6.html">Shifting From Low-Value to High-Value Work</a>
                          </li>
                      </ul>
                      </li>
                      <li class="usa-megamenu-col">
                        <ul>
                          <li>
                            <a href="#" class="disabled"><span id="navheader">Functional Priority Areas</span></a>
                          </li>
                          <li>
                        <a href="{{ site.baseurl }}/CAP/CAP_goal_7.html">Category Management</a>
                          </li>
                          <li>
                            <a href="{{ site.baseurl }}/CAP/CAP_goal_8.html">Results-Oriented Accountability for Grants</a>
                          </li>
                          <li>
                            <a href="{{ site.baseurl }}/CAP/CAP_goal_9.html">Getting Payments Right</a>
                          </li>
                          <li>
                            <a href="{{ site.baseurl }}/CAP/CAP_goal_10.html">Federal IT Spending Transparency</a>
                          </li>
                          <li>
                            <a href="{{ site.baseurl }}/CAP/CAP_goal_11.html">Improve Management of Major Acquisitions</a>
                          </li>
                        </li>
                      </ul>
                    </li>
                    <li class="usa-megamenu-col">
                      <ul>
                        <li>
                          <a href="#" class="disabled"><span id="navheader">Mission Priority Areas</span></a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/CAP/CAP_goal_12.html">Modernize Infrastructure Permitting</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/CAP/CAP_goal_13.html">Security Clearance, Suitability, and Credentialing Reform</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/CAP/CAP_goal_14.html">Lab-to-Market</a>
                        </li>
                    </ul>
                    </li>
                    <li class="usa-megamenu-col">
                      <ul>
                        <li>
                          <a href="#" class="disabled"><span id="navheader">Other Initiatives</span></a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/GovReform/index.html">Reform Plan and Reorganization Recommendations</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/GEARcenter/index.html">GEAR Center</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/elimination/elimination_of_unnecessary_agency_reports.html">Elimination of Unnecessary Agency Reports</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/reduce/reduce_the_footprint.html">Reduce the Footprint Policy</a>
                        </li>
                        <li>
                          <a href="{{ site.baseurl }}/gearawards/">Gears of Government Awards</a>
                        </li>

                    </ul>
                    </li>
              </ul>
        <!--      <li>
            <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-2">
          <span>PMA</span>
            </button>
            <ul id="sidenav-2" class="usa-nav-submenu">
              <li>
                <a href="../PMA/PMA.html">Overview</a>
              </li>

           </ul>
          </li>-->
          <li>
           <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="megamenu-2">
             <span>Agencies</span>
           </button>
           <ul class="usa-nav-submenu usa-megamenu usa-grid-full" id="megamenu-2">
           <li class="usa-megamenu-col">
             <ul>
               <li>
                 <a href="{{ site.baseurl }}/agriculture/">Department of Agriculture</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/commerce/">Department of Commerce</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/defense/">Department of Defense</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/education/">Department of Education</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/energy/">Department of Energy</a>
               </li>

               <li>
                 <a href="{{ site.baseurl }}/health-and-human-services/">Department of Health and Human Services</a>
               </li>
               <li>
   <a href="{{ site.baseurl }}/homeland-security/">Department of Homeland Security</a>
  </li>
             </ul>
           </li>
           <li class="usa-megamenu-col">
             <ul>

               <li>
                 <a href="{{ site.baseurl }}/housing-and-urban-development/">Department of Housing and Urban Development</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/interior/">Department of the Interior</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/justice/">Department of Justice</a>
               </li>
               <li>

                 <a href="{{ site.baseurl }}/labor/">Department of Labor</a>
               </li>
               <li>
                     <a href="{{ site.baseurl }}/state/">Department of State</a>
                   </li>
                   <li>

                     <a href="{{ site.baseurl }}/transportation/">Department of Transportation</a>
                   </li>
             </ul>
           </li>
           <li class="usa-megamenu-col">
             <ul>



               <li>
                 <a href="{{ site.baseurl }}/treasury/">Department of the Treasury</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/veterans-affairs/">Department of Veterans Affairs</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/EPA/">Environmental Protection Agency</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/GSA/">General Services Administration</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/NASA/">National Aeronautics and Space Administration</a>
               </li>     </ul>
           </li>
           <li class="usa-megamenu-col">
             <ul>


               <li>
                 <a href="{{ site.baseurl }}/NSF/">National Science Foundation</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/OPM/">Office of Personnel Management</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/SBA/">Small Business Administration</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/SSA/">Social Security Administration</a>
               </li>
               <li>
                 <a href="{{ site.baseurl }}/state/">United States Agency for International Development</a>
               </li>
               <hr style="border:1px solid #02bfe7;">
               <li>
                 <a href="{{ site.baseurl }}/other-federal-agencies/">Other Federal Agencies</a>
               </li>
             </ul>
           </li>
     </ul>
     <li>
      <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-3">
        <span>About</span>
      </button>
      <ul id="sidenav-3" class="usa-nav-submenu">
<li>
<a href="{{ site.baseurl }}/about/getstarted.html">Get Started</a>
</li>
            <li>
<a href="{{ site.baseurl }}/about/About P.gov.html">About Performance.gov</a>
</li>
<li>
<a href="{{ site.baseurl }}/about/FAQ.html">FAQs</a>
</li>
<li>
<a href="{{ site.baseurl }}/about/framework_about.html">Performance Framework </a>
</li>
</ul>
</li>
  <li>
        <a class="usa-nav-link" href="{{ site.baseurl }}/news">
          News
        </a>
      </li>
      </ul>
  <form class="usa-search usa-search-small" action="https://search.usa.gov/search" accept-charset="UTF-8"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
    <div role="search">
      <label class="usa-sr-only" for="search-field-small">Search small</label>
       <input id="affiliate" name="affiliate" type="hidden" value="performance.gov" />
      <input id="search-field-small" type="search" name="query" autocomplete="off" class="usagov-search-autocomplete" id="query" name="query" type="text" >
      <button type="submit">
        <span class="usa-sr-only">Search</span>
      </button>
    </div>
  </form>
       </nav>
    </div>
  </header>
  <script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("backtotop").style.display = "block";
  } else {
      document.getElementById("backtotop").style.display = "none";
  }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
  }
  $(window).load(function(){
      var $container = $('.portfolioContainer');
      $container.isotope({
          filter: '*',
          animationOptions: {
              duration: 750,
              easing: 'linear',
              queue: false
          }
      });

      $('.portfolioFilter a').click(function(){
          $('.portfolioFilter .current').removeClass('current');
          $(this).addClass('current');

          var selector = $(this).attr('data-filter');
          $container.isotope({
              filter: selector,
              animationOptions: {
                  duration: 750,
                  easing: 'linear',
                  queue: false
              }
           });
           return false;
      });
  });


  </script>
  <script src="{{ site.baseurl }}/js/uswds.min.js"></script>
  <button onclick="topFunction()" id="backtotop" title="Go to top" style="display: none;">˄ Top</button>
  <div class="usa-overlay"></div>
