| Statistics                                        |                              |
| ------------------------------------------------- | ---------------------------- |
| Volume of Customers during Performance Period     | {{ question.universe }}      |
| Volume of Customers provided survey opportunity   | {{ question.surveyed }}      |
| Number of Respondents reflected in response data  | {{ question.respondents }}   |
| Response Rate                                     | {{ question.response_rate }} |
