.cx-profile-headline {
	font-size : 1.5em;
	font-weight : normal;
	font-family : Merriweather,Georgia,Cambria,Times New Roman,Times,serif;
}

.cx-agency-heading {
	font-size : 1.8em;
	font-weight : bold;
	margin-bottom : 0;
}

.cx-agency-subheading {
	margin-top : 0;
}

.cx-dashboard .cx-profile-heading {
	margin-bottom : 3em; 
}

.cx-section-heading {
	color : #005EA2;
	border-bottom :  2px solid #979797;
	margin-top : 2em;
}

.cx-table {
	float : none; 
}


.cx-agency-logo {
	text-align : center;
}

.cx-agency-logo img {
width : 150px;
height : 150px;
}

.cx-hisp-intro p {
	border-left : 10px solid #F0F0F0; 
	padding-left : 1rem;
}