.cx-profile-headline {
	font-size : 1.5em;
	font-weight : normal;
	font-family : Merriweather,Georgia,Cambria,Times New Roman,Times,serif;
}

.cx-dashboard-heading,
.cx-dashboard-heading-metric {
	  font-family: Merriweather,Georgia,Cambria,Times New Roman,Times,serif; 
}

.cx-heading-metrics .cx-dashboard-heading-metric {
  display : inline-block;
  width : 30%;
  font-size : 1.5em;
}

.cx-hisp-tile {
  display : inline-block; 
  clear : both;
  width : 100%;
  margin-bottom : 2em;
}

.cx-hisp-tile .cx-agency-logo {

}

.cx-hisp-tile .cx-hisp-intro {

}

.cx-agency-heading {
	font-size : 1.8em;
	font-weight : bold;
	margin-bottom : 0;
}

.cx-agency-subheading {
	margin-top : 0;
}

.cx-dashboard .cx-profile-heading {
	margin-bottom : 3em; 
}

.cx-section-heading {
	color : #005EA2;
	border-bottom :  2px solid #979797;
	margin-top : 2em;
}

.cx-table {
	float : none; 
}


.cx-agency-logo {
	text-align : center;
}

.cx-agency-logo img {
width : 150px;
height : 150px;
}

.cx-agency-logo.multi-logo img {
	width: auto;
	height: auto;
}

.cx-hisp-intro p {
	border-left : 10px solid #F0F0F0; 
	padding-left : 1rem;
}

.cx-hisp-profile table {
	display : block;
	clear : both;
	margin-bottom : 2em;
}

.cx-hisp-profile p {
	clear : both;	
}

.cx-hisp-profile table th, .cx-hisp-profile table td {
	padding : .5em;
	border : 1px solid black;
}

.survey-result-box {
  width: 30%;
  background-color: #F0F0F0;
  border-left: 1rem solid #AAAEB1;
  padding: 1rem;
  display: inline-block;
  margin: 0 3% 2% 0;
  min-height: 130px; }

.survey-result-box.survey-no-data {
  background-color : #fff;
  border : .25rem solid #DCDEE0;
  border-left: 1rem solid #DCDEE0;
}

.survey-result-stats {
  margin-bottom: .5rem;
  font-size: 2.2rem;
  font-weight: 500; }

.survey-avg-score {
  color: #225E9D; }

.survey-trend-arrow {
  color: #479F68; }

.survey-no-data .survey-avg-score {
  color: #924C23;
  font-size: 2rem; }

.survey-no-data .survey-question {
  color: #7F7F7F;
  padding-left: 1rem; }

.cx-hisp-profile table {
  width: 100%; }

.cx-breadcrumb {
	padding : .5rem;
	background-color : #F0F0F0;
}

.cx-breadcrumb a, 
.cx-breadcrumb a:link {
	text-decoration : none;
}