.homepage-pf {
  /*background-color:#e4e2e0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
    /*  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
    border-top: 1rem solid #00cfff;
        border-color: #e31c3d;
        padding-top: .5rem;
}

.homepage-banner {
  height: 210px;
  /*background-color: #e4e2e0;*/


}

.banner-title {
  padding-top: 20px;
  /*font-size: 2.5rem;
  height: 90px;*/

}

.homepage-pf-learnmore {
  padding-top: 20px;
}
