.winner-container {
  margin-bottom: 1rem;
}

.winner-image {
}

.winner-text {
  background-color: #ffffff;
  flex: 1 0 auto;
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: auto;
  float: left;
  padding: 3rem;
  padding-top: 0;
  width: 100%;
  height: auto;
}

#winner {
  height: 150px;
  width: 100%;
  padding:10px;
  object-fit: cover ;
}

.name-text {
  font-size: 1.7rem;
}
* { box-sizing: border-box; }



.iso-nav {
  text-align: left;
  padding-bottom:10px;



}

.iso-nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #cd2026;
  cursor: pointer;

}

.iso-nav ul li:hover {
  background: #981b1e;
  color: white;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

/* ****** MAIN PORTFOLIO ******** */

.main-iso {


}

.main-iso .item {

}
.item img {


}

.active {
  background-color: #cd2026;
  color: white;
}
