#cap-goal-headshot {
  border-radius:50%;
  width:130px;
  height:130px;
  margin:0px 0px 0px 0px;
  object-fit: cover;

}

.cap-box {
  width:300px;
  height: 600px;
  z-index: 10;
  position: absolute;
  margin-left: 170px;
  display: block;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 766px) {
    .cap-box {
      display:none;
}}

.cap-box #top {
  background-color: #e31c3d;
  height: 300px;
  padding:15px;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;

}
.cap-box #bottom {
  background-color: #323a45;
  height: 300px;
  padding:30px;

}
