.kpi-popout {
  width: fit-content;


  h4:first-child { // match uswds :first-child rule
    margin-top: 0;
  }

  figure {
    margin: 0;
  }

  .kpi-popout-link {
    font-size: small;
  }
}

// Inverse color scheme, when used on a dark background
.kpi-popout--inverse {
  a {
    color: #000;
  }
}

#kpi-section {
    background-image: url(../img/homepage_images/graphs.png);
    object-fit: fill;
}

.row {
  display: none;

}

.blue-kpi {
background-color: #24416a;
color: white;
padding:5px;
border-radius:10px;
margin:0px;
height: 70px;
}

.kpi-font {
background-color: #24416a;
color: white;
padding:7px;
font-size:1.3rem;
border-radius:10px;

}


#no-frame-border-1 {
  margin-top: 20px;
}

#kpi-data-title {
  padding-top:0px;
}

.fa-database:before {
  padding-right: 10px;
}

.fa-group:before {
  padding-right: 10px;
}

.fa-laptop:before {
  padding-right: 10px;
}

.fa-money:before {
  padding-right: 10px;
}

.fa-arrows-alt:before {
  padding-right: 10px;
}

.fa-repeat:before {
  padding-right: 10px;
}
