---
title: "Key Performance Indicators"
layout: navigation_PMA
agency_dir: CAP

#twitter variables
summary: summary
description: KPIs measure the performance of cross-agency priority goals in effecting change across multiple agencies.
---

{% include KPI-intro.html %}
{% include KPI-menu.html %}

<section class="usa-section usa-graphic_list" style="padding-top:0px;">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
      <div id="wrapper"></div>
    </div>
  </div>
</section>

<!--    Javascript files are here... -->
<!--Jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--isotope here...-->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
<!--Custom Js file here ... -->
<script src="{{ site.baseurl }}/js/script.js"></script>
<script src="{{ site.baseurl }}/js/kpi.js"></script>
