---
title: "Key Performance Indicators"
layout: navigation_PMA
agency_dir: CAP

#twitter variables
summary: summary
description: KPIs measure the performance of cross-agency priority goals in effecting change across multiple agencies.
---

<section class="usa-section usa-section-dark usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-half usa-media_block">
      <h1>Key Performance Indicators</h1>
    </div>
    <div class="usa-width-one-half usa-media_block">
      <a href="{{ site.baseurl }}/CAP/overview/" style="text-decoration:none;color:#d6d7d9;float:right;font-size:2rem">
         <b> Cross-Agency Priority Goal Overview &#10095;</b></a>
      </div>
</section>
<section class="usa-section usa-graphic_list" >
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
      <p>The President’s Management Agenda identifies cross-agency priority (CAP) goals to target those areas where multiple agencies must collaborate to effect change and report progress in a manner the public can easily track. Below are some of the key indicators that will be used to measure how different goals are performing.</p>
      <section class="usa-section usa-graphic_list">
        <div class="usa-grid usa-graphic_list-row">
          <!--<div class="usa-width-one-half usa-media_block">
          <h4>Data Center Consolidation</h4>
            <a href="../CAP/Data_Center_Consolidation.pdf" target="_blank"><img src="../CAP/Data_Center_Consolidation.jpg" alt="Data_Center_Consolidation" width="300px"></a>
            <a class="usa-button" href="../CAP/CAP_goal_1.html">See the CAP Goal</a>
          </div>-->
          <div class="usa-width-one-half usa-media_block">
            {% include kpi--kpi-page.html title="Cybersecurity" %}
          </div>
          <div class="usa-width-one-half usa-media_block">
            {% include kpi--kpi-page.html title="Category Management" %}
          </div>
        </div>
      </section>
      <section class="usa-section usa-graphic_list">
        <div class="usa-grid usa-graphic_list-row">
          <div class="usa-width-one-half usa-media_block">
            {% include kpi--kpi-page.html title="Federal Employee Viewpoint Survey" %}
          </div>
          <div class="usa-width-one-half usa-media_block">
            {% include kpi--kpi-page.html title="Customer Satisfaction Scores" %}
          </div>
        </div>
      </section>
      <section class="usa-section usa-graphic_list">
        <div class="usa-grid usa-graphic_list-row">

          <div class="usa-width-one-half usa-media_block">
           {% include kpi--kpi-page.html title="Cash Loss to the Government" %}
            </div>


          <div class="usa-width-one-half usa-media_block">
            {% include kpi--kpi-page.html title="Cloud Email Adoption" %}
          </div>
        </div>
      </section>
  </div>
