---
title: "Hall of Winners"
layout: navigation_PMA
permalink: /gearawards/winners/

---
<section id="image-GoG" class="usa-section usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-whole usa-media_block">
      <div class="title-container">
        <div class="title-container-left">
          <img src="{{ site.baseurl }}/img/GoG/GoG-logo.png" style="width:120px;float:left;margin-right:15px;">
        </div>
        <div class="title-container-right">
          <h1 style="font-size:31px;margin-bottom:0px;"><em>Gears of Government Awards</em></h1>
          <h1 style="padding-top:0px;"> Hall of Winners</h1>
               <p style="font-size:18px;">Recognizing individuals and teams across the Federal workforce whose dedication supports exceptional delivery of key outcomes for the American people, specifically around <b>mission results</b>, <b>customer service</b>, and <b>accountable stewardship</b>.</p>
        </div>
      </div>
    <!--<p>Cultivating and Championing Excellence in Federal Service</p>-->
  </div>
</div>
</section>

<section class="usa-section usa-graphic_list">
 <div class="usa-grid usa-graphic_list-row">
   <div class="usa-width-one-whole usa-media_block ">

  </p>
     <!--<p><i>View more information about each winner by hovering, or clicking, on each winner's card.</i></p>-->
      {% include button-group.html %}
      {% include GoG_winners.html %}


</div><!--close one whole-->
</div><!--close graphic list row-->
</section>


<!--    Javascript files are here... -->
<!--Jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!--isotope here...-->
<script src="{{ site.baseurl }}/js/isotope.pkgd.min.js"></script>
<!--Custom Js file here ... -->
<script src="{{ site.baseurl }}/js/script.js"></script>
