---
title: "Hall of Winners"
layout: navigation_PMA

---
<script>
	// init Isotope
	var $grid = $('.grid').isotope({
	  // options
	});
	// filter items on button click
	$('.filter-button-group').on( 'click', 'a', function() {
	  var filterValue = $(this).attr('data-filter');
	  $grid.isotope({ filter: filterValue });
	});
	$('.button-group a.button').on('click', function(){
		$('.button-group a.button').removeClass('active');
		$(this).addClass('active');
	});
</script>

<section style="background-color: #aeb0b5;" class="usa-section usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-whole usa-media_block">
        <h1 style="line-height:2.3;"><img src="../img/GoG/GoG-logo.png" style="width:100px;float:left;margin-right:15px;">
      Gears of Government Awards</h1>
    <!--<p>Cultivating and Championing Excellence in Federal Service</p>-->
  </div>
</div>
</section>

<section class="usa-section  usa-graphic_list">
 <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-whole usa-media_block">
      <div class="usa-media_block-body">
        <h1>Hall of Winners</h1>
      </div>

      <div class="button-group filter-button-group">
        {% for category in GoG_winners.button %}
        <a
        class="button"
        data-filter=".{{ category | first }}">{{ category | first }}
      </a>
      {% endfor %}
      <a class="button active" data-filter="*">All</a>
        </div>

    </div>
  </div>
</section>

<section class="usa-section  usa-graphic_list">
 <div class="usa-grid usa-graphic_list-row">
   <div class="usa-flex usa-flex-wrap">

      {% for GoG_winners in site.GoG_winners %}
      <div class="usa-width-one-fourth usa-media_block">
      </div>
      {% endfor %}

  </div>
</div>
</section>

<script>

// filter .GSA items
$grid.isotope({ filter: '.GSA' });

// filter .alkali OR .alkaline-earth items
$grid.isotope({ filter: '.alkali, .alkaline-earth' });

// filter .metal AND .transition items
$grid.isotope({ filter: '.metal.transition' });

// show all items
$grid.isotope({ filter: '*' });

/ init Isotope
var $grid = $('.grid').isotope({
  // options
});
// filter items on button click
$('.filter-button-group').on( 'click', 'a', function() {
  var filterValue = $(this).attr('data-filter');
  $grid.isotope({ filter: filterValue });
});
$('.button-group a.button').on('click', function(){
	$('.button-group a.button').removeClass('active');
	$(this).addClass('active');
});
</script>
{% include button-group.html %}
