---
layout: navigation_PMA
---
<section class="usa-section usa-graphic_list" id="image">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-two-thirds usa-media_block">
       <a href="{{ site.baseurl }}/CAP/overview/" style="text-decoration:none;color:#ffffff;float:left;font-size:2rem;">
           <b>&#10094; &nbsp; CAP Goal Overview</b></a>
          <h1 style="margin-top:66px;">
        <!--   {% if page.cap-category == "Key Driver of Reform" %}
           <p class="card-tag" style="margin-bottom:0px;font-size:.37em;"><a style="text-decoration:none;color:#d6d7d9;" href="{{ site.baseurl }}/news">Key Driver of Reform</a></p>
          {% elsif page.cap-category == "Cross-Cutting Priority Area" %}
           <p class="card-tag" style="margin-bottom:0px;font-size:.37em;"><a style="text-decoration:none;color:#d6d7d9;" href="{{ site.baseurl }}/news">Cross-Cutting Priority Area</a></p>
          {% endif %}-->
        <img src="{{ site.baseurl }}{{ page.cap-icon }}" alt="CAP Goal Icon" align="left" id="cap-icon">{{ page.title }}</h1>
          {% if page.CAP-event-title %}
              <a class="usa-button pulse-button CAP-tag-text" style="background-color:#046b99;color:#ffffff;" href="#KPI">News & Events</a>
          {% else %}
              <a class="usa-button usa-button-secondary CAP-tag-text"style="background-color:#046b99;color:#ffffff;" href="#KPI">News & Events</a>
          {% endif %}
         {% if page.cap-kpi-url %}
              <a class="usa-button usa-button-secondary CAP-tag-text"style="background-color:#00a6d2;color:#ffffff;" href="#KPI" id="pulse">Key Performance Indicator</a>
         {% else %}
             <a class="usa-button usa-button-secondary CAP-tag-text"style="background-color:#00a6d2;color:#000000;" href="##">Resource Link</a>
         {% endif %}
              <a class="usa-button usa-button-secondary CAP-tag-text"style="background-color:#9bdaf1;color:#000000;" href="##">Resource Link</a>
    </div>
    <div class="usa-width-one-third usa-media_block">
      <!--<a href="{{ site.baseurl }}{{ page.next-page-url }}" style="text-decoration:none;color:#ffffff;float:right;font-size:2rem">
         <b> CAP Goal: {{ page.next-cap-goal-name }}&nbsp;&#10095;</b></a>-->
        <div class="cap-box" style="margin-top:30px;">
          <div id="top">
            <p>Download the latest Action Plan and Progress Update</p>
            <a class="usa-button usa-button-secondary CAP-tag-text"style="background-color:#ffffff;color:#e31c3d;" href="{{ site.baseurl }}{{ page.current-action-plan }}">Download</a>
            </div>
          <div id="bottom">
            <center><h3><b>&#10077;{{ page.quote }}&#10078;</b></h3></center>
          </div>
     </div>
   </div>
  </div>
</section>
<section class="usa-section usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
    {% if page.goal-leader-name %}
       <div class="usa-width-one-sixth " style="margin-right:50px;">
         <center><img id="cap-goal-headshot" src="{{ site.baseurl }}{{ page.goal-leader-photo }}">
          <p style="font-size:1.3rem"><b><i>Goal Leader:</i><br> {{ page.goal-leader-name }},</b><br>{{ page.goal-leader-title }}</p></center>
       </div>
    {% endif %}
    {% if page.goal-leader-2-name %}
        <div class="usa-width-one-sixth " style="margin-right:50px;">
          <center> <img id="cap-goal-headshot"src="{{ site.baseurl }}{{ page.goal-leader-2-photo }}">
          <p style="font-size:1.3rem"><b><i>Goal Leader:</i><br> {{ page.goal-leader-2-name }},</b><br>{{ page.goal-leader-2-title }}</p></center>
       </div>
     {% endif %}
     {% if page.goal-leader-3-name %}
        <div class="usa-width-one-sixth" style="margin-right:50px;" >
          <center><img id="cap-goal-headshot" src="{{ site.baseurl }}{{ page.goal-leader-3-photo }}">
          <p style="font-size:1.3rem"><b><i>Goal Leader:</i><br> {{ page.goal-leader-3-name }},</b><br>{{ page.goal-leader-3-title }}</p></center>
       </div>
     {% endif %}
       </div>
     {% if page.goal-leader-4-name %}
       <div class="usa-grid usa-graphic_list-row">
          <div class="usa-width-one-sixth " style="margin-right:50px;">
             <center><img id="cap-goal-headshot" src="{{ site.baseurl }}{{ page.goal-leader-4-photo }}">
            <p style="font-size:1.3rem"><b><i>Goal Leader:</i><br> {{ page.goal-leader-4-name }},</b><br>{{ page.goal-leader-4-title }}</p></center>
         </div>
     {% endif %}
     {% if page.goal-leader-5-name %}
            <div class="usa-width-one-sixth " style="margin-right:50px;">
              <center> <img id="cap-goal-headshot"src="{{ site.baseurl }}{{ page.goal-leader-5-photo }}">
              <p style="font-size:1.3rem"><b><i>Goal Leader:</i><br> {{ page.goal-leader-5-name }},</b><br>{{ page.goal-leader-5-title }}</p></center>
           </div>
     {% endif %}
     {% if page.goal-leader-6-name %}
            <div class="usa-width-one-sixth" style="margin-right:50px;" >
              <center><img id="cap-goal-headshot" src="{{ site.baseurl }}{{ page.goal-leader-6-photo }}">
              <p style="font-size:1.3rem"><b><i>Goal Leader:</i><br> {{ page.goal-leader-6-name }},</b><br>{{ page.goal-leader-6-title }}</p></center>
           </div>
     {% endif %}
    </div>
</section>
<section class="CAP-media usa-section usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-whole">
      <center><h2 style="margin-top:18px;">Download the latest Action Plan and Progress Update</h2>
      <p class="card-tag" style="margin-top:70px;margin-bottom:30px;font-size:.8em;"><a style="text-decoration:none;background-color:#ffffff;color:#e31c3d;padding:10px;border-radius:25px;"  href="{{ site.baseurl }}{{ page.current-action-plan }}">Download</a></p></center>
      </div>
    </div>
  </section>
  <section class="quote-media usa-section usa-graphic_list">
    <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-whole">
          <center><h3><b>&#10077;{{ page.quote }}&#10078;</b></h3></center>
        </div>
      </div>
</section>
<section class="usa-section usa-graphic_list" style="background-color:#f1f1f1;">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
       <ul class="usa-accordion" id="transition">
        <li>
        <button class="usa-accordion-button " style="font-size:2.2rem;padding-left:0;padding-bottom:20px;"
          aria-expanded="true"
          aria-controls="a1">
          	<img class="usa-media_block-img" src="{{ site.baseurl }}/img/goal-statement-blue.png" alt="PMG_red_target_icon" style="width:40px;margin-right:10px;margin-top:-9px;">&nbsp;&nbsp;Goal Statement
        </button>
        <div id="a1" class="usa-accordion-content " style="background-color:#f1f1f1;padding-left:0;">
          {{ page.statement }}
        </div>
      </li><li>
        <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;"
          aria-expanded="false"
          aria-controls="a2">
        	<img class="usa-media_block-img" src="{{ site.baseurl }}/img/challenge_icon_blue.png" alt="PMG_red_target_icon" style="width:40px;margin-right:10px;margin-top:-9px;">&nbsp;&nbsp;The Challenge
        </button>
        <div id="a2" class="usa-accordion-content" style="background-color:#f1f1f1;padding-left:0;border-top:">
           {{ page.challenge }}
        </div>
      </li><li>
        <li>
        <a name="KPI">
          <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;"
            aria-expanded="false"
            aria-controls="a3">
          	<img class="usa-media_block-img" src="{{ site.baseurl }}/img/opportunity_icon_blue.png" alt="PMG_red_target_icon" style="width:40px;margin-right:10px;margin-top:-9px;">&nbsp;&nbsp;The Opportunity
          </button>
        </a>
          <div id="a3" class="usa-accordion-content" style="background-color:#f1f1f1;padding-left:0;">
            {{ page.opportunity }}
          </div>
        </li>
        <li>
          <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;"
            aria-expanded="false"
            aria-controls="a4">
            <img class="usa-media_block-img" src="{{ site.baseurl }}/img/action-plan-blue.png" alt="PMG_red_target_icon" style="width:40px;margin-right:10px;margin-top:-9px;">&nbsp;&nbsp;Action Plans and Updates
          </button>
          <div id="a4" class="usa-accordion-content" style="background-color:#f1f1f1;padding-left:0;">
            <p><a href="{{ site.baseurl }}{{ page.action-2018-Q2 }}" target="_blank"><b>Download the FY2018 Q2 Action Plan</b></a>
            </p>
             <p><a href="{{ site.baseurl }}{{ page.action-2018-Q1 }}" target="_blank"><b>Download the FY2018 Q1 Action Plan</b></a>
             </p>
          </div>
        </li>
        {% if page.KPI %}
        <li>

          <button  class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;"
            aria-expanded="false"
            aria-controls="a5">
              <img class="usa-media_block-img" src="{{ site.baseurl }}/img/kpi-blue.png" alt="PMG_red_target_icon" style="width:40px;margin-right:10px;margin-top:-9px;">&nbsp;&nbsp;Key Performance Indicator (KPI)
          </button>
        </a>
          <div id="a5" class="usa-accordion-content" style="background-color:#f1f1f1;padding-left:0;">
            <div class="usa-grid usa-graphic_list-row">
              <div class="usa-width-one-half usa-media_block">
                {% include kpi--cap-page.html title=page.KPI %}
              </div>
              {% if page.KPI-2 %}
              <div class="usa-width-one-half usa-media_block">
                {% include kpi--cap-page.html title=page.KPI-2 %}
              {% endif %}
              </div>
          </div>
        </li>
        {% endif %}
    </ul>
  </div>
 </div>
</section>
<section class="usa-section usa-graphic_list" style="background-color:#205493;color:#ffffff;">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-two-thirds usa-media_block">
       <h2>News</h2>
       {% for post in site.tags[page.tag] limit:2 %}
       {% if page.tag %}
       <hr>
       <p class="card-tag" style="color:#ffffff;margin-bottom:0px;">{{ post.date | date: '%B %d, %Y' }}</p>
         <a style="color:#ffffff;text-decoration:none;" href="{{ site.baseurl }}{{ post.permalink }}">
           <h3 style="margin-top:5px;">{{ post.title }}</h3>
         </a>
         <p>{{ post.description}}</p>
         {% endif %}
         {% endfor %}
     </div>
     <div class="usa-width-one-third usa-media_block" style="background-color:rgba(255,255,255,1);color:#205493;padding:20px;height:400px;border-radius:25px;">
        <h2>&#128467;&nbsp;Upcoming Events</h2>
        <hr style="color:#ffffff;">
        {% if page.CAP-event-title %}
        <p style="font-size:1.1em;margin-bottom:0px;"><b>{{ page.CAP-event-title}}</b>, <em>{{ page.CAP-event-date}}</em></p>
        <p style="margin-top:5px;">{{ page.CAP-event-text }}</p>
          <p class="card-tag" style="float:right;margin-top:10px;font-size:.7em;"><a style="text-decoration:none;background-color:#205493;color:#ffffff;padding:10px;border-radius:15px;" href="{{ site.baseurl }}/news">RSVP &#10095;</a></p>
        {% else %}
          <p>No upcoming events</p>
        {% endif %}
     </div
   </div>
</section>
<!--<section class="usa-section usa-section-leader usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-two-thirds usa-media_block">
      <h2>News</h2>
      {% for post in site.tags[page.tag] limit:2 %}
      {% if page.tag %}
      <p class="card-tag" style="color:#ffffff;">{{ post.date | date: '%B %d, %Y' }}</p>
        <a style="color:#ffffff;" href="{{ site.baseurl }}{{ post.permalink }}">
          <h3 style="margin-top:1em;">{{ post.title }}</h3>
        </a>
        <p>{{ post.description}}</p>
        {% for tag in include.tags %}
          <span class="usa-label">
            <a  href="{{ site.baseurl }}/tags/{{ tag }}/">{{ tag }}</a>
          </span>
          {% endfor %}
          <hr align="left">
        {% endif %}
        {% endfor %}
      </div>
      <div class="usa-width-one-third usa-media_block">
        <h2>Upcoming Eventsfdfdasfdsafdsasgfsdgfsdgsdgdfsgdsgsdgdfsgdsgdsgfds</h2>
      </div>
   </div>
 </section>-->


{% include CAP-icons-set.html %}
