---
layout: navigation_PMA
---


<section class="usa-section usa-section-dark usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-half usa-media_block">
         <h1 style="margin-top:100px;">{{ page.title }}</h1>
         <a class="usa-button usa-button-secondary card-tag-text"style="background-color:#046b99;color:#ffffff;" href="PMA/PMA.html">What is a CAP Goal?</a>
         <a class="usa-button usa-button-secondary card-tag-text" style="color:#ffffff;" href="PMA/PMA.html">In the News</a>
         <a class="usa-button card-tag-text" href="PMA/PMA.html" style="margin-top:0;color:#ffffff;">President's Management Agenda</a>
    </div>
    <div class="usa-width-one-half usa-media_block">
      <div class="usa-media_block-body" >
        <div class="cap-box"style="float:right">
          <div id="top">
            <p>Download the latest Action Plan and Progress Update</p>
            <p class="card-tag" style="margin-top:40px;margin-bottom:30px;font-size:.5em;"><a style="text-decoration:none;background-color:#ffffff;color:#e31c3d;padding:10px;border-radius:25px;"  href="{{ site.baseurl }}/about/APG_about.html">Download</a></p>
            </div>
          <div id="bottom">
            <center><p>"Modernizing Federal IT will enhance mission effectiveness and reduce mission risks through a series of complementary initiatives that will drive sustained change in Federal technology, deployment, security, and service delivery."</p></center>
            </div>
        </div>
     </div>
   </div>
  </div>
</section>
<section class="usa-section usa-graphic_list">
    <div class="usa-grid usa-graphic_list-row">
         <div class="usa-width-one-sixth ">
         <center><img id="cap-goal-headshot" src="{{ site.baseurl }}{{ page.goal-leader-photo }}">
        <p style="font-size:1.3rem"><b>{{ page.goal-leader-name }},</b><br>{{ page.goal-leader-title }}</p></center>
         </div>
          <div class="usa-width-one-sixth ">
        <center> <img id="cap-goal-headshot"src="{{ site.baseurl }}{{ page.goal-leader-2-photo }}">
        <p style="font-size:1.3rem"><b>{{ page.goal-leader-2-name }},</b><br>{{ page.goal-leader-2-title }}</p></center>
         </div>
          <div class="usa-width-one-sixth">
        <center><img id="cap-goal-headshot" src="{{ site.baseurl }}{{ page.goal-leader-3-photo }}">
        <p style="font-size:1.3rem"><b>{{ page.goal-leader-3-name }},</b><br>{{ page.goal-leader-3-title }}</p></center>
     </div>
    </div>
</section>
<section class="usa-section usa-graphic_list" style="background-color:#f1f1f1;">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
       <ul class="usa-accordion">
        <li>
        <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;"
          aria-expanded="true"
          aria-controls="a1">
          Goal Statement
        </button>
        <div id="a1" class="usa-accordion-content" style="background-color:#f1f1f1;padding-left:0;">
          {{ page.statement }}
        </div>
      </li><li>
        <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;"
          aria-expanded="false"
          aria-controls="a2">
          The Challenge
        </button>
        <div id="a2" class="usa-accordion-content" style="background-color:#f1f1f1;padding-left:0;">
          {{ page.challenge }}
        </div>
      </li><li>
        <li>
          <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;"
            aria-expanded="false"
            aria-controls="a3">
            The Opportunity
          </button>
          <div id="a3" class="usa-accordion-content" style="background-color:#f1f1f1;padding-left:0;">
            {{ page.opportunity }}
          </div>
        </li>
        <li>
          <button class="usa-accordion-button" style="font-size:2.2rem;padding-left:0;"
            aria-expanded="false"
            aria-controls="a4">
            Action Plans and Updates
          </button>
          <div id="a4" class="usa-accordion-content" style="background-color:#f1f1f1;padding-left:0;">
            {{ page.action }}
          </div>
        </li>
    </ul>
  </div>
 </div>
</section>
<section class="usa-section usa-section-leader usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-whole usa-media_block">
     <h2>Highlights</h2>
   </div>
  </div>
 </section>


{% include CAP-icons-set.html %}
