---
layout: navigation
---

    <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
      <ul class="usa-sidenav-list">
        <li>
          <a class="usa-current" href="{{ page.permalink }}">{{ page.agency-name }}</a>
        </li>
        <li>
          <a href="{{ page.apg-1-link }}">Agency Priority Goals</a>
          <ul class="usa-sidenav-sub_list">
            <li>
              <a href="{{ page.apg-1-link }}">{{ page.apg-1 }} </a>
            </li>
            {% if page.apg-2-link %}
            <li>
              <a href="{{ page.apg-2-link }}">{{ page.apg-2 }}</a>
            </li>
            {% endif %}
            {% if page.apg-3-link %}
            <li>
              <a href="{{ page.apg-3-link }}">{{ page.apg-3 }}</a>
            </li>
            {% endif %}
            {% if page.apg-4-link %}
            <li>
              <a href="{{ page.apg-4-link }}">{{ page.apg-4 }}</a>
            </li>
            {% endif %}
            {% if page.apg-5-link %}
            <li>
              <a href="{{ page.apg-5-link }}">{{ page.apg-5 }}</a>
            </li>
            {% endif %}
            {% if page.apg-6-link %}
            <li>
              <a href="{{ page.apg-6-link }}">{{ page.apg-6 }}</a>
            </li>
            {% endif %}
          </ul>
      <!--<li>
          <a href="#">Cross Agency Priority Goals</a>
        </li>
        <li>
          <a href="#">FAQs</a>
        </li>-->
      </li></ul>
      <div class="usa-width-one-whole usa-media-block">
      <a class="twitter-timeline" data-height="700" data-theme="light" data-link-color="#046b99" href="{{ page.twitter-feed }}">Agency Twitter Feed</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    </aside>
    <div class="usa-width-three-fourths usa-layout-docs-main_content">
      <h1>{{ page.agency-name }} &nbsp;<a href="{{ page.agency-site }}" target="_blank"><img src="{{ page.agency-seal }}" alt="agency seal" align="center" width="87"> </a></h1>

      <section class="usa-section">
        <div class="usa-grid usa-graphic_list-row">
          <div class="usa-width-one-whole usa-media_block">
            <h2 style="color:#046b99;padding-bottom:1rem;">Agency Plans and Reports</h2>
              </div>
            </div>
          <div class="usa-grid usa-graphic_list-row">
            <div class="usa-width-one-third usa-media_block agency-page-link">
          <h3 class="agency-link-title"><center>Agency's Strategic Plan</center></h3>
          <div class="agency-link-banner">
              <center><a href="{{ page.strategic-plan-link }}" target="_blank"><img src="..\img\icon-1.png" alt="icon" width="87"> </a></center>
            </div>
    <div class="agency-link-learnmore">
        <center><p class="card-tag" style="margin-top:0;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#ffffff;color:#212121;padding:10px;box-shadow: inset 0 0 0 2px #fdb81e;border-radius:25px;"  href="{{ page.strategic-plan-link }}" target="_blank">READ THE PLAN &#10095;</a></p></center>
            </div>
      </div>
              <!--<p class="homepage-card-tag" style="margin-top:0;font-size:.8em;"><a style="text-decoration:none;" href="{{ site.baseurl }}/about/CAP_about.html">Learn More About CAP Goals &#10095;</a></p>-->
              <div class="usa-width-one-third usa-media_block agency-page-link">
                <h3 class="agency-link-title"><center>Agency’s Performance Plan and Report</center></h3>
                <div class="agency-link-banner">
                <center><a href="{{ page.performance-plan-link }}" target="_blank"><img src="..\img\icon-2.png" alt="icon" width="87"> </a></center>
              </div>
                <div class="agency-link-learnmore">
        <center><p class="card-tag" style="margin-top:0;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#ffffff;color:#212121;padding:10px;box-shadow: inset 0 0 0 2px #fdb81e;border-radius:25px;"  href="{{ page.performance-plan-link }}" target="_blank">READ THE PLAN &#10095;</a></p></center>
                </div>
              </div>


        <div class="usa-width-one-third usa-media_block agency-page-link">
          <h3 class="agency-link-title"><center>Agency Priority Goals</center></h3>
          <div class="agency-link-banner">
          <center><a href="{{ page.apg-1-link }}" ><img src="..\img\icon-3.png" alt="icon" width="87"> </a></center>
        </div>
          <div class="agency-link-learnmore">
          <center><p class="card-tag" style="margin-top:0;margin-bottom:30px;font-size:.7em;"><a style="text-decoration:none;background-color:#ffffff;color:#212121;padding:10px;box-shadow: inset 0 0 0 2px #fdb81e;border-radius:25px;"  href="{{ page.apg-1-link }}">LEARN MORE &#10095;</a></p></center>
        </div>
      </div>
    </div>

      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole usa-media_block agency-page-section">
          <h2 style="color:#046b99;">Mission</h2>
          <p>{{ page.mission }}</p>
        </div>
      </div>

      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole usa-media_block agency-page-section">
          <h2 style="color:#046b99;">Overview</h2>
          <p>{{ page.overview }}</p>
        </div>
      </div>

      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole usa-media_block">
          <p>To access additional agency performance documents <a href="{{ page.other-documents-link }}" target="_blank">visit the agency’s website</a>.</p>
        </div>
      </div>


        </div>
      </section>



    </div>
