---
layout: base
---

{% for hisp in site.data.hisps %}
{% if hisp.service_id == page.hisp_service_id %}
  {% assign this_hisp = hisp %}
{% endif %}
{% endfor %}

{% for hisp_data in site.data.hisp-data %}
{% if hisp_data.service_id == page.hisp_service_id %}
  {% assign this_hisp_data = hisp_data %}
{% endif %}
{% endfor %}


{% include main_header.html %}

<header class="usa-header usa-header-basic cx-breadcrumb">

  <div class="usa-grid">
    <div class="usa-grid-full">
      <a href="{{ site.baseurl }}/">Home</a> &nbsp; &gt; &nbsp;  <a href="{{ site.baseurl }}/cx/">Customer Experience</a> &nbsp;  &gt; &nbsp; <a href="{{ site.baseurl }}/cx/profiles/">CX Profiles</a> &nbsp;  &gt; &nbsp; {{ this_hisp.service }}
    </div>
  </div>

</header>


<main class="usa-grid usa-section usa-content usa-layout-docs cx-hisp-profile" id="main-content">

  <div class="cx-profile-heading usa-grid-full" markdown="1">

    <div class="usa-width-one-fourth cx-agency-logo {{ this_hisp.department_abbreviation }}-logo">
      <img src="{{ site.baseurl }}/img/cx/agencies/{{ this_hisp.department_abbreviation }}-{{ page.logo_type }}.png" alt="{{ this_hisp.department }} {{ page.logo_type }}">
    </div>

    <div class="cx-hisp-intro usa-width-three-fourths" markdown="1">
      <h2 class="cx-profile-headline cx-agency-heading">{{ this_hisp.service }}</h2>
      <h3 class="cx-agency-subheading">{{ this_hisp.bureau }}, {{ this_hisp.department }}</h3>

      <p>
        {{ this_hisp.blurb }}
      </p>
    </div>

  </div>

  <h2 class="cx-profile-headline">{{ page.hisp_profile_headline }}</h2>

  <h2 class="cx-section-heading">CX Feedback Data</h2>

  {% if this_hisp_data.data_available == 'TRUE' %}
    {% if this_hisp_data.data_public == 'FALSE' %}
      This HISP is collecting customer feedback under the Fast Track clearance process of the <a href="https://digital.gov/resources/paperwork-reduction-act-fast-track-process/">PRA</a> and so it cannot be shared publicly at this time.
    {% endif %}
  {% endif %}

  {% if this_hisp_data.data_available == 'FALSE' %}
    This HISP did not submit customer feedback data for this quarter.
  {% endif %}

  {{ content }}

 <h2 class="cx-section-heading">Digital Analytics Program Data</h2>
<ul>
  <li>
    <a href="{{ site.baseurl }}/cx/dashboard/dap-reports/FY19Q1/cx-hisp-dap-{{ this_hisp.service_id }}.pdf">FY19 Q1</a>
  </li>
  <li>
    <a href="{{ site.baseurl }}/cx/dashboard/dap-reports/FY19Q2/cx-hisp-dap-{{ this_hisp.service_id }}.pdf">FY19 Q2</a>
  </li>
</ul>

  <h2 class="cx-section-heading">Supporting Documents</h2>
<ul>
  <li>
    <a href="{{ site.baseurl }}/cx/dashboard/action-plans/cx-hisp-action-plan-{{ this_hisp.service_id }}.pdf">FY20 Action Plan</a>
  </li>
 </ul>

</main>

{% include main_footer.html %}
